{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">
  {{ _("Documents") }}
</h1>

<nav class="mb-3 flex space-x-8" aria-label="Tabs">
  <a href="?" class="tab {% if not request.GET %}active {% else %}inactive {% endif %}">{{ _("All") }}</a>
  {% for key,value in doc_types %}
    <a 
      href="?type={{ key }}" 
      class="tab 
      {% if request.GET.type == key %}active {% else %}inactive {% endif %}"
    >
      {{ value }}
    </a>
  {% endfor %}
</nav>

{% if not documents %}
  <div class="alert alert-info mb-5">{{ _("No documents found") }}</div>
{% else %}
  <table class="table mb-5">
    <thead>
      <tr>
        <th>{{ _("Name") }}</th>
        <th>{{ _("Type") }}</th>
        <th>{{ _("Options") }}</th>
      </tr>
    </thead>
    <tbody>
    {% for each in documents %}
      <tr>
        <td>
          <a {% if not each.is_active %}class="opacity-50"{% endif %} href="{% url "controlpanel_document" each.id %}">{{ each }}</a>
          {% if not each.is_active %}<span class="badge-danger">{{ _("Inactive") }}</span>{% endif %}
        </td>
        <td>{{ each.get_doc_type_display }}</td>
        <td class="whitespace-nowrap">
          <a class="btn-blue btn-sm" href="{% url "controlpanel_document_files" each.id %}"><i class="fa fa-file"></i> {{ _("Files") }}</a>
          <a class="btn-blue btn-sm" href="{% url "controlpanel_document" each.id %}"><i class="fa fa-pencil"></i> {{ _("Edit") }}</a>
          <a class="btn-orange btn-sm" href="{% url "species_source" each.id %}"><i class="fa fa-file"></i> {{ _("View") }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

<a class="btn-blue" href="{% url "controlpanel_document" %}?type={{ request.GET.type }}"><i class="fa fa-plus"></i> {{ _("Add document") }}</a>

{% endblock %}
