{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">{% block title %}Species management{% endblock %}</h1>

<div class="flex items-center justify-center min-h-screen">
  <form method="post">

    <div class="space-y-12">

      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">{{ info }}</h2>

        <h2>{{ file }}</h2>
        {{ df }}
      </div>

    </div>

    <div class="sm:col-span-3 mb-10">
      <label for="doc_type" class="block text-sm/6 font-medium text-gray-900">Vegetation type</label>
      <div class="mt-2">
        <select name="vegetation_type" required>
          <option value=""></option>
          {% for each in vegetation_types %}
            <option value="{{ each.id }}">{{ each }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">Submit</button>
    </div>
    {% csrf_token %}
  </form>

</div>

{% endblock %}
