{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">
  {{ title }}
</h1>

<p>{{ _("Select here which features you would like to show to visitors on the website when searching for plant species. The additional features will also be shown on individual species pages if they are available, but they won't appear by default on the search page for visitors nor will they be shown by default when editing a species.") }}</p>

<form method="post">

  <div class="mb-4 bg-gray-100 p-4 rounded">
    <div class="container mx-auto">
      <div class="grid grid-cols-3 gap-4">
        {% for feature in features %}
          {% ifchanged feature.species_type %}
            {% if not forloop.first %}
            </div>
            {% endif %}
            <div>
              <h4>{{ feature.get_species_type_display }}</h4>
          {% endifchanged %}
          <span class="flex items-center">
            <input 
              type="checkbox" 
              name="feature" 
              id="id_features_{{ feature.id }}" 
              value="{{ feature.id }}" 
              class="form-checkbox h-5 w-5 text-blue-500" 
              {% if SITE in feature.site.all %}checked{% endif %}
            >
            <label for="id_features_{{ feature.id }}" class="ml-2 text-gray-700">{{ feature.name }}</label>
          </span>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn-green">{{ _("Save") }}</button>

  {% csrf_token %}
</form>

{% endblock %}
