{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">{{ _("Gardens") }}</h1>

<table class="table mb-5 datatable">
  <thead>
    <tr>
      <th>{{ _("Name") }}</th>
      <th>{{ _("Photos") }}</th>
      <th>{{ _("Active") }}</th>
      <th>Original</th>
    </tr>
  </thead>
  <tbody>
  {% for each in gardens %}
    <tr>
      <td><a href="{% url "controlpanel_garden" each.id %}">{{ each.name }}</td>
      <td>{{ each.photos.count }}</td>
      <td>{{ each.is_active }}</td>
      <td>{{ each.original.your_name }}<br>{{ each.original.email }}<br>{{each.original.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn-add" href="{% url "controlpanel_garden" %}"><i class="fa fa-plus"></i> {{ _("Add garden") }}</a>

{% endblock %}
