{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">{% block title %}{% if info.id %}{{ _("Edit garden") }}: {{ info }}{% else %}{{ _("Add garden") }}{% endif %}{% endblock %}</h1>

<form method="post" enctype="multipart/form-data">

  <div class="mt-10 flex items-center justify-center bg-gray-100 py-10 relative">

    {% if info.id %}
      <div class="float-right absolute" style="top:-26px;right:0">
        <a class="mr-2 p-1 bg-gray-100 text-orange-700" href="{% url "controlpanel_garden" info.id %}"><i class="fa fa-pencil"></i></a>
        <a class="mr-2 p-1" href="{% url "controlpanel_garden_photos" info.id %}"><i class="fa fa-image"></i></a>
        <a class="p-1" href="{% url "garden" info.id %}"><i class="fa-regular fa-file"></i></a>
      </div>
    {% endif %}

    <div class="space-y-12">

      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">{{ _("General information") }}</h2>

        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mt-10">

          <div class="col-span-full">
            <label for="name" class="block text-sm/6 font-medium text-gray-900">{{ _("Name") }}</label>
            <div class="mt-2">
              <input type="text" name="name" id="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.name|default_if_none:"" }}" required>
            </div>
          </div>

          <div class="col-span-full">
            <label for="contact_name" class="block text-sm/6 font-medium text-gray-900">{{ _("Contact person") }}</label>
            <div class="mt-2">
              <input type="text" name="contact_name" id="contact_name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.contact_name|default_if_none:"" }}">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="contact_email" class="block text-sm/6 font-medium text-gray-900">{{ _("E-mail") }}</label>
            <div class="mt-2">
              <input type="text" name="contact_email" id="contact_email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.contact_email|default_if_none:"" }}">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="contact_phone" class="block text-sm/6 font-medium text-gray-900">{{ _("Phone") }}</label>
            <div class="mt-2">
              <input type="text" name="contact_phone" id="contact_phone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.contact_phone|default_if_none:"" }}">
            </div>
          </div>

          <div class="sm:col-span-4">
            <label for="file" class="block text-sm/6 font-medium text-gray-900">{{ _("Location") }}</label>
              <span class="mt-2 bg-orange-100 text-orange-700 text-xs font-bold rounded-full px-2 py-1 inline-block">
                <i class="fa fa-info-circle"></i> {{ _("Please upload as a KMZ file.") }}
              </span>
            {% if info.id and info.attachments.all %}
              <span class="mt-2 bg-orange-100 text-orange-700 text-xs font-bold rounded-full px-2 py-1 inline-block">
                <i class="fa fa-info-circle"></i> Existing files will be replaced when you upload a new file.
              </span>
            {% endif %}
            <div class="mt-2">
              <input id="file" name="file" type="file" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" multiple>
            </div>
          </div>

          {% if info.location_file %}
            <div class="col-span-full">
              <label for="cover-photo" class="block text-sm/6 font-medium text-gray-900">{{ _("File") }}</label>
              <div class="mt-2 flex rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                <ul>
                    <li class="mb-5">
                      <i class="fa-fw fa fa-{{ info.location_file.get_icon }}"></i>
                      <a href="{{ info.location_file.file.url }}">
                      {{ info.location_file }}
                      </a>
                      <span class="text-xs/5 text-gray-600">
                        ({{ info.location_file.file.size|filesizeformat }})
                      </span>
                  </li>
                </ul>
              </div>
            </div>
          {% endif %}

          <div class="col-span-full">
            <label for="description" class="block text-sm/6 font-medium text-gray-900">{{ _("Description") }}</label>
            <div class="mt-2">
              <textarea name="description" id="description" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6">{{ info.description|default_if_none:"" }}</textarea>
            </div>
          </div>


        </div>
      </div>

      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">Settings</h2>
        <p class="mt-1 text-sm/6 text-gray-600">Details around appearance and other settings.</p>

        <div class="mt-10 space-y-10">

          <fieldset>
            <legend class="text-sm/6 font-semibold text-gray-900">{{ _("Garden status") }}</legend>
            <div class="mt-6 space-y-6">
              <div class="flex items-center gap-x-3">
                <input {% if info.is_active %}checked{% endif %} id="is_active" name="is_active" value="1" type="radio" class="size-4 border-gray-300 text-sky-600 focus:ring-sky-600">
                <label for="is_active" class="block text-sm/6 font-medium text-gray-900">{{ _("Active") }}</label>
              </div>
              <div class="flex items-center gap-x-3">
                <input {% if not info.is_active %}checked{% endif %} id="is_not_active" name="is_active" value="0" type="radio" class="size-4 border-gray-300 text-sky-600 focus:ring-sky-600">
                <label for="is_not_active" class="block text-sm/6 font-medium text-gray-900">{{ _("Inactive") }}</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-none focus:ring focus:ring-lime-300">
        {{ _("Save") }}
      </button>
    </div>
    {% csrf_token %}

  </div>
</form>

{% endblock %}
