{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">{% block title %}{% if info.id %}{{ _("Edit garden") }}: {{ info }}{% else %}{{ _("Add garden") }}{% endif %}{% endblock %}</h1>

<div class="bg-gray-100 p-10 relative">

  {% if info.photos.all %}
    <div class="grid grid-cols-12 gap-2 mb-6">
      {% for each in info.photos.all %}
        <div class="overflow-hidden rounded-lg shadow-lg aspect-w-16 aspect-h-9">
          <a href="{% url "controlpanel_garden_photo" info.id each.id %}"><img src="{{ each.thumbnail }}" alt="" class="object-cover w-full h-full" /></a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="mt-10 flex items-center justify-center">

    <div class="float-right absolute" style="top:-26px;right:0">
      <a class="mr-2 p-1" href="{% url "controlpanel_garden" info.id %}"><i class="fa fa-pencil"></i></a>
      <a class="mr-2 p-1 bg-gray-100 text-orange-700" href="{% url "controlpanel_garden_photos" info.id %}"><i class="fa fa-image"></i></a>
      <a class="p-1" href="{% url "garden" info.id %}"><i class="fa fa-file-alt"></i></a>
    </div>

  </div>
</div>

{% endblock %}
