{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">{% block title %}{% if info.id %}{{ _("Edit page") }}: {{ info }}{% else %}{{ _("Add page") }}{% endif %}{% endblock %}</h1>

<form method="post" enctype="multipart/form-data">

  <div class="mt-10 bg-gray-100 p-5">

    <div class="space-y-12">

          <div class="col-span-full mt-2">
            <label for="name" class="block text-sm/6 font-medium text-gray-900">{{ _("Title") }}</label>
            <div class="mt-2">
              <input type="text" name="name" id="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.name|default_if_none:"" }}" required>
            </div>
          </div>

          <div class="col-span-full mt-4">
            <label for="description" class="block text-sm/6 font-medium text-gray-900">{{ _("Content") }}</label>
            <div class="mt-2">
              <textarea name="description" id="description" class="quill block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6">{{ info.content_html|default_if_none:"" }}</textarea>
              <i class="fa fa-code show-code cursor-pointer float-right" title="{{ _("Show HTML code") }}"></i>
              <div class="quill" id="description-container"></div>
            </div>
          </div>

          <div class="col-span-full mt-2">
            <label for="slug" class="block text-sm/6 font-medium text-gray-900">{{ _("Slug") }}</label>
            <div class="mt-2">
              <input type="text" name="slug" id="slug" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.slug|default_if_none:"" }}" required>
            </div>
          </div>

          <div class="col-span-full mt-4">
            <label for="file" class="block text-sm/6 font-medium text-gray-900">{{ _("Image") }}</label>
              <span class="mt-2 bg-orange-100 text-orange-700 text-xs font-bold rounded-full px-2 py-1 inline-block">
                <i class="fa fa-info-circle"></i> {{ _("Main image (used for social media, thumbnail, etc)") }}
              </span>
            {% if info.id and info.attachments.all %}
              <span class="mt-2 bg-orange-100 text-orange-700 text-xs font-bold rounded-full px-2 py-1 inline-block">
                <i class="fa fa-info-circle"></i>
              </span>
            {% endif %}
            <div class="mt-2">
              <input id="file" name="image" type="file" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6">
            </div>
          </div>

          {% if info.location_file %}
            <div class="col-span-full">
              <label for="cover-photo" class="block text-sm/6 font-medium text-gray-900">{{ _("File") }}</label>
              <div class="mt-2 flex rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                <ul>
                    <li class="mb-5">
                      <i class="fa-fw fa fa-{{ info.location_file.get_icon }}"></i>
                      <a href="{{ info.location_file.file.url }}">
                      {{ info.location_file }}
                      </a>
                      <span class="text-xs/5 text-gray-600">
                        ({{ info.location_file.file.size|filesizeformat }})
                      </span>
                  </li>
                </ul>
              </div>
            </div>
          {% endif %}

        <div class="mt-10 space-y-10">

          <fieldset>
            <legend class="text-sm/6 font-semibold text-gray-900">{{ _("Published?") }}</legend>
            <div class="mt-6 space-y-6">
              <div class="flex items-center gap-x-3">
                <input {% if info.is_active %}checked{% endif %} id="is_active" name="is_active" value="1" type="radio" class="size-4 border-gray-300 text-sky-600 focus:ring-sky-600">
                <label for="is_active" class="block text-sm/6 font-medium text-gray-900">{{ _("Active") }}</label>
              </div>
              <div class="flex items-center gap-x-3">
                <input {% if not info.is_active %}checked{% endif %} id="is_not_active" name="is_active" value="0" type="radio" class="size-4 border-gray-300 text-sky-600 focus:ring-sky-600">
                <label for="is_not_active" class="block text-sm/6 font-medium text-gray-900">{{ _("Inactive") }}</label>
              </div>
            </div>
          </fieldset>
        </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">
        {{ _("Save") }}
      </button>
    </div>
    {% csrf_token %}

  </div>
</form>

<form method="post">
  {% csrf_token %}
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Photos linked to this page</h2>

        {% if info.photos.count %}
          <div class="grid grid-cols-12 gap-2 mb-6">
            {% for each in info.photos.all %}
              <div class="relative overflow-hidden rounded-lg shadow-lg aspect-w-16 aspect-h-9">
                <a href="?delete_photo={{ each.id }}">
                  <img src="{{ each.thumbnail }}" alt="" class="object-cover w-full h-full" onclick="javascript:return confirm('Delete from page?')">
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="photo" class="block text-sm/6 font-medium text-gray-900">Photo</label>
          <div class="mt-2">
              <input id="photo" type="number" required name="photo" placeholder="Photo #" class="block min-w-0 grow bg-white py-1.5 pr-3 pl-2 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" />
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">
      {{ _("Add photo to page") }}
    </button>
  </div>
</form>


{% endblock %}
