{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">
  {{ title }}
</h1>

<table class="table mb-5">
  <thead>
    <tr>
      <th>{{ _("Title") }}</th>
      <th>{{ _("Options") }}</th>
      <th>{{ _("Active") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for each in pages %}
    <tr>
      <td><a href="{% url "controlpanel_page" each.id %}">{{ each.name }}</td>
      <td>
        <a class="btn-blue btn-sm" href="{% url "controlpanel_page" each.id %}"><i class="fa fa-pencil mr-1"></i> {{ _("Edit") }}</a>
        <a class="btn-blue btn-sm" href="{% url "controlpanel_page" each.id %}?photos"><i class="fa fa-image mr-1"></i> {{ _("Manage photos") }}</a>
        {% if page_type != 4 and page_type != 5 and page_type != 7 %}
          <a class="btn-orange btn-sm" href="{{ each.get_absolute_url }}">{{ _("View page") }}</a>
        {% endif %}
      </td>
      <td>{% if each.is_active %}<i class="fa fa-check text-lime-700"></i>{% else %}<i class="fa fa-ban text-red-700"></i>{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn-blue" href="{% url "controlpanel_page" %}?type={{ page_type }}">
  <i class="fa fa-plus-square mr-1"></i> 
  {{ _("Add") }}
</a>

{% endblock %}
