{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">Shapefiles</h1>

<table class="table mb-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Uploaded</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  {% for each in shapefiles %}
    <tr>
      <td>{{ each.name }}</td>
      <td>{{ each.get_doc_type_display }}</td>
      <td><a class="btn btn-info" href="{% url "controlpanel_shapefile" each.id %}"><i class="fa fa-gear"></i> Manage</a></td>
      <td><a class="btn btn-info" href="{% url "controlpanel_shapefile_form" each.id %}"><i class="fa fa-pencil"></i> Edit</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn-add" href="{% url "controlpanel_shapefile_form" %}"><i class="fa fa-plus"></i> Add shapefile</a>

{% endblock %}
