{% extends "_base.html" %}

{% block css %}
  <style>
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display:none;
    }
    .select2-container--default .select2-selection--single {
      height:40px;
      padding-top:5px;
      padding-left:10px;
      border: 1px solid #d1d5db; /* Gray border */
      border-radius: 0.5rem; /* Rounded corners */
    }
    .select2-container--default .select2-selection--single.select2-selection--focus {
      border-color: #3b82f6; /* Sky-700 border on focus */
      box-shadow: 0 0 0 0.2rem rgba(59, 130, 247, 0.25); /* Sky-700 shadow ring */
    }
    .select2-container--default .select2-selection__placeholder {
      color: #6b7280; /* Gray color for placeholder */
    }
    .select2-container--default .select2-selection__rendered {
      color: #374151; /* Text color */
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
      border-radius: 0.25rem;
    }
  </style>
{% endblock %}

{% block title %}
  {{ _("Species database") }}
{% endblock %}

{% block content %}

<div class="bg-gray-100 p-10 mb-10 rounded-2xl">
  <h2>Search entire species list</h2>
  <form method="get" action="{% url "controlpanel_species_list" %}" class="space-y-6">

    <div class="mb-4">
      <select id="search_species" style="width: 100%;">
        <option value="" disabled selected hidden>{{ _("Enter (part of) a species name...") }}</option>
      </select>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">
        {{ _("Search") }}
      </button>
    </div>
  </form>
</div>

<h2 class="mb-5 mt-10">{{ _("Species database") }}</h2>
<div class="container mx-auto mb-10">
  <div class="grid lg:grid-cols-4 gap-4 sm:grid-cols-2">
    <div class="p-8 bg-white rounded-2xl">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ all }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("Total database") }}</p>
        <p class="mt-2 text-base/7 text-gray-600 ">{{ _("Including species not activated") }}</p>
      </div>
    </div>
    <a href="{% url "controlpanel_species_list" %}?all" class="p-8 bg-lime-200 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">{{ site }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("Activated species") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Species listed on the website") }}</p>
      </div>
    </a>
    <a href="{% url "controlpanel_species_list" %}?inat" class="p-8 bg-lime-100 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ inat }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("iNat info available") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Species that have iNat photos and information") }}</p>
      </div>
    </a>
    <a href="{% url "controlpanel_species_list" %}?no_inat" class="p-8 bg-red-100 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ non_inat }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("iNat info missing") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Species missing iNat information") }}</p>
      </div>
    </a>
    <a href="{% url "controlpanel_species_list" %}?orphans" class="p-8 bg-red-100 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ orphans }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("Orphan species") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Missing a documented vegetation type link") }}</p>
      </div>
    </a>
    {% for each in veg_total %}
      <a href="{% url "controlpanel_species_list" %}?vegetation={{ each.vegetation_types__id }}" class="p-8 bg-orange-100 rounded-2xl no-underline hover:opacity-70">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ each.count }}</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ each.vegetation_types__name }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="container mx-auto mb-10">
  <div class="grid lg:grid-cols-6 gap-4 sm:grid-cols-4">
    {% for each in features %}
      <a href="{% url "controlpanel_species_list" %}?feature={{ each.id }}" class="p-4 bg-gray-100 rounded-2xl no-underline hover:opacity-70">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ each.total }}</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ each }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="container mx-auto mb-10">
  <div class="grid lg:grid-cols-6 gap-4 sm:grid-cols-4">
    {% for each in plant_forms %}
      <a href="{% url "controlpanel_species_list" %}?plant_form={{ each.id }}" class="p-4 bg-lime-100 rounded-2xl no-underline hover:opacity-70">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ each.total }}</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ each }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<h2>{{ _("Species by source document") }}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ _("Document") }}</th>
      <th>{{ _("Species") }}</th>
      <th>{{ _("View species") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for each in source_docs %}
    <tr>
      <td>{{ each.file__attached_to__name }}</td>
      <td>{{ each.count }}</td>
      <td>
        <a class="btn-blue btn-sm" href="{% url "species_source" each.file__attached_to__id %}">
          <i class="fa fa-file"></i> {{ _("View species") }}
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(function(){
      $("#search_species").select2({
        minimumInputLength: 3,
        ajax: {
          delay: 150,
          url: "{% url "ajax_species" %}",
          dataType: "json",
          processResults: function(data) {
            return {
              results: $.map(data, function(item) {
                return {
                  id: item.id,
                  text: item.name,
                  common_name: item.common_name,
                  active: item.active
                };
              })
            };
          }
        },
        templateResult: function(item) {
          const dotColor = item.active ? "text-lime-500" : "text-gray-700";
          const dotIcon = item.active ? "fa-circle" : "fa-circle" + " text-gray-700";
          
          return $("<div class='flex items-center'>" +
                   "<i class='fa " + dotColor + " " + dotIcon + "'></i>" +
                   "<em class='ml-2 " + (item.active ? "text-black" : "text-gray-700") + "'>" + item.text + "</em>" + 
                   "<span class='ml-2 " + (item.active ? "text-black" : "text-gray-700") + "'>" + item.common_name + "</span>" + 
                   "</div>");
        }
      }).on("select2:select", function (e) {
        console.log(e);
        const id = e.params.data.id;
        window.location.href = "/controlpanel/species/" + id + "/";
      });

    });
  </script>
{% endblock %}
