{% extends "_base.html" %}

{% block title %}
  {{ _("Species database") }}
{% endblock %}

{% block content %}

<div class="bg-gray-100 p-10 mb-10 rounded-2xl">
  <h2>Search entire species list</h2>
  <form method="get" action="" class="space-y-6">

    <div class="mb-4">
      <input type="text" placeholder="Species name" name="name" id="id_name" value="{{ request.GET.name }}" class="mt-1" required>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">
        {{ _("Search") }}
      </button>
    </div>
  </form>
</div>

<h2 class="mb-5 mt-10">{{ _("Species database") }}</h2>
<div class="container mx-auto mb-10">
  <div class="grid grid-cols-4 gap-4">
    <div class="p-8 bg-white rounded-2xl">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ all }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("Total database") }}</p>
        <p class="mt-2 text-base/7 text-gray-600 ">{{ _("Including species not activated") }}</p>
      </div>
    </div>
    <a href="{% url "controlpanel_species_list" %}?all" class="p-8 bg-lime-200 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">{{ site }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("Activated species") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Species listed on the website") }}</p>
      </div>
    </a>
    <a href="{% url "controlpanel_species_list" %}?inat" class="p-8 bg-lime-100 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ inat }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("iNat info available") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Species that have iNat photos and information") }}</p>
      </div>
    </a>
    <a href="{% url "controlpanel_species_list" %}?no_inat" class="p-8 bg-red-100 rounded-2xl no-underline hover:opacity-70">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ non_inat }}</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("iNat info missing") }}</p>
        <p class="mt-2 text-base/7 font-normal text-gray-600 ">{{ _("Species missing iNat information") }}</p>
      </div>
    </a>
    {% for each in veg_total %}
      <a href="{% url "controlpanel_species_list" %}?vegetation={{ each.vegetation_types__id }}" class="p-8 bg-orange-100 rounded-2xl no-underline hover:opacity-70">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ each.count }}</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ each.vegetation_types__name }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="bg-white " hidden>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl ">
        {{ _("Our species database") }}
      </h2>
    </div>
    <div class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end">
      <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start ">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 ">{{ all }}</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900 ">{{ _("Total database") }}</p>
          <p class="mt-2 text-base/7 text-gray-600 ">{{ _("Including species not activated") }}</p>
        </div>
      </div>
      <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-900 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44 ">
        <p class="flex-none text-3xl font-bold tracking-tight text-white">{{ site }}</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-white">{{ _("Species activated for the website") }}</p>
        </div>
      </div>
      {% for each in veg_total %}
      <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-indigo-600 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28 ">
        <p class="flex-none text-3xl font-bold tracking-tight text-white"></p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-white"></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<h2>{{ _("Species by source document") }}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ _("Document") }}</th>
      <th>{{ _("Species") }}</th>
      <th>{{ _("View species") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for each in source_docs %}
    <tr>
      <td>{{ each.file__attached_to__name }}</td>
      <td>{{ each.count }}</td>
      <td>
        <a class="btn-blue btn-sm" href="{% url "species_source" each.file__attached_to__id %}">
          <i class="fa fa-file"></i> {{ _("View species") }}
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
