{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">Species list</h1>

<table class="table mb-5 datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>iNat</th>
      <th>IUCN</th>
      <th>SANBI</th>
    </tr>
  </thead>
  <tbody>
  {% for each in species %}
    <tr>
      <td><a href="{% url "controlpanel_species" each.id %}">{{ each.name }}</a></td>
      <td>{% if each.meta_data.inat %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-minus-circle"></i>{% endif %}</td>
      <td>{{ each.get_conservation_status|default_if_none:"" }}</td>
      <td>{{ each.get_sanbi_conservation_status|default_if_none:"" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn-add" href="{% url "controlpanel_species" %}">Add species</a>

{% endblock %}
