{% extends "_base.html" %}

{% block content %}

  <h1>{{ _("User") }}</h1>

  <form method="post">

    <div class="col-span-full mt-2">
      <label for="first_name" class="block text-sm/6 font-medium text-gray-900">{{ _("Name") }}</label>
      <div class="mt-2">
        <input type="text" name="first_name" id="first_name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.first_name }}" required>
      </div>
    </div>

    <div class="col-span-full mt-2">
      <label for="email" class="block text-sm/6 font-medium text-gray-900">{{ _("E-mail") }}</label>
      <div class="mt-2">
        <input type="text" name="email" id="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" value="{{ info.email }}" required>
      </div>
    </div>

    <div class="col-span-full mt-2">
      <label for="password" class="block text-sm/6 font-medium text-gray-900">{{ _("Change password") }}</label>
      <div class="mt-2">
        <input type="password" name="password_change" id="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6" placeholder="Leave empty if you do NOT want to change the password.">
      </div>
    </div>

    <div class="col-span-full mt-6">
      <fieldset>
        <legend class="block text-sm/6 font-medium text-gray-900">{{ _("Permissions") }}</legend>
        <div class="mt-3 flex flex-wrap gap-x-6 gap-y-2">
          <div class="flex items-center">
            <input
              type="checkbox"
              name="is_superuser"
              id="id_is_superuser"
              class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-600"
              {% if info.is_superuser %}checked{% endif %}
            >
            <label for="id_is_superuser" class="ml-2 block text-sm/6 text-gray-900">
              {{ _("Superuser") }}
            </label>
          </div>

          <div class="flex items-center">
            <input
              type="checkbox"
              name="is_staff"
              id="id_is_staff"
              class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-600"
              {% if info.is_staff %}checked{% endif %}
            >
            <label for="id_is_staff" class="ml-2 block text-sm/6 text-gray-900">
              {{ _("Staff") }}
            </label>
          </div>

          <div class="flex items-center">
            <input
              type="checkbox"
              name="is_active"
              id="id_is_active"
              class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-600"
              {% if info.is_active %}checked{% endif %}
            >
            <label for="id_is_active" class="ml-2 block text-sm/6 text-gray-900">
              {{ _("Active") }}
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">
        {{ _("Save") }}
      </button>
    </div>
    {% csrf_token %}

  </form>

{% endblock %}
