{% extends "_base.html" %}

{% block content %}

<h1 class="text-3xl">
  {{ _("Vegetation types") }}
</h1>

<table class="table mb-5">
  <thead>
    <tr>
      <th>{{ _("Name") }}</th>
      <th>{{ _("Spaces") }}</th>
      <th>{{ _("Options") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for each in vegetation_types %}
    <tr>
      <td><a href="{% url "controlpanel_vegetation_type" each.id %}">{{ each.name }}</td>
      <td>
        {% for space in each.spaces.all %}
          <span class="badge">{{ space }}</span>
        {% endfor %}
      </td>
      <td>
        <a class="btn-blue btn-sm" href="{% url "controlpanel_vegetation_type_form" each.id %}"><i class="fa fa-pencil mr-1"></i> {{ _("Edit") }}</a>
        <a class="btn-blue btn-sm" href="{% url "controlpanel_vegetation_type" each.id %}"><i class="fa fa-file mr-1"></i> {{ _("View details") }}</a>
        <a class="btn-orange btn-sm" href="{{ each.get_absolute_url }}">{{ _("Public view") }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn-blue" href="{% url "controlpanel_vegetation_type_form" %}">
  <i class="fa fa-plus-square mr-1"></i> 
  {{ _("Add") }}
</a>

{% endblock %}
