{% extends "_base.html" %}
{% load i18n %}

{% block content %}

<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-sm space-y-10">
    <div>
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
        {{ _("Create your account") }}
      </h2>
    </div>
    <form method="POST" class="space-y-6">
      {% csrf_token %}

      {% if garden %}
        <div class="alert alert-warning mb-10">
          {% blocktranslate %}Your garden ({{ garden }}) will automatically be linked to your account upon registration.{% endblocktranslate %}
        </div>
      {% endif %}

      <div>
        <div class="flex items-center justify-between">
          <label for="name" class="block text-sm/6 font-medium text-gray-900">{{ _("Your name") }}</label>
        </div>
        <div class="mt-2">
          <input id="name" type="text" name="name" required autocomplete="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" value="{{ request.POST.name }}">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">{{ _("E-mail") }}</label>
        </div>
        <div class="mt-2">
          <input id="email" type="email" name="email" required autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" value="{{ request.POST.email }}">
        </div>
      </div>


      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">{{ _("Password") }}</label>
        </div>
        <div class="mt-2">
          <input id="password" type="password" name="password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" value="{{ request.POST.password }}">
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex gap-3">
          <div class="flex h-6 shrink-0 items-center">
            <div class="group grid size-4 grid-cols-1">
              <input id="newsletter" type="checkbox" name="newsletter" class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-sky-600 checked:bg-sky-600 indeterminate:border-sky-600 indeterminate:bg-sky-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100" />
              <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25">
                <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
                <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100" />
              </svg>
            </div>
          </div>
          <label for="newsletter" class="block text-sm/6 text-gray-900">
            {{ _("Sign me up to the newsletter") }}
          </label>
        </div>

      </div>

      <div>
        <button type="submit" class="flex w-full justify-center btn-green">{{ _("Sign in") }}</button>
      </div>
    </form>

    <p class="text-center text-sm/6 text-gray-500">
      {{ _("Already have an account") }}
      <a href="{% url "login" %}" class="font-semibold">
        {{ _("Login") }}
      </a>
    </p>
  </div>
</div>

{% endblock %}
