{% extends "_base.html" %}
{% load i18n %}

{% block content %}

<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-sm space-y-10">
    <div>
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
        {{ _("Reset your password") }}
      </h2>
    </div>
    <form method="POST" class="space-y-6">
      {% csrf_token %}

      <div>
        <div class="col-span-2">
          <input type="password" name="password" required placeholder="{{ _("Enter your new password") }}" aria-label="{{ _("Password") }}" class="mb-2 block w-full rounded-t-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:relative focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center btn-green">{{ _("Save new password") }}</button>
      </div>
    </form>

  </div>
</div>

{% endblock %}
