<nav class="tabs -mb-px flex space-x-2" aria-label="{{ _("Tabs") }}">
  <a href="{% url "garden" info.id %}" class="tab {% if tab == "garden" %}active{% else %}inactive{% endif %}">
    <i class="fa fa-file-alt mr-1"></i>
    {{ _("Garden profile") }}
  </a>
  <a href="{% url "garden_score" info.id %}" class="tab {% if tab == "score" %}active{% else %}inactive {% endif %}">
    <i class="fa fa-chart-line mr-1"></i>
    {{ _("Score") }}
  </a>
  <a hidden href="{% url "garden_photos" info.id %}" class="tab {% if tab == "photos" %}active{% else %}inactive{% endif %}">
    <i class="fa fa-image mr-1"></i>
    {{ _("Photo gallery") }}
  </a>
  <a href="{% url "garden_carbon_report" info.id %}" class="tab {% if tab == "carbon" %}active{% else %}inactive{% endif %}">
    <i class="fa fa-cloud mr-1"></i>
    {{ _("Carbon report") }}
  </a>

  {% if info.id|slugify == GARDEN %}
    <a href="{% url "planner_profile" info.id %}" class="tab inactive ml-auto">
      <i class="fa fa-pencil mr-1"></i>
      {{ _("Edit profile") }}
    </a>
  {% endif %}
</nav>
