{% extends "_base.html" %}

{% block title %}
  {{ page_info }}
{% endblock %}

{% block css %}
<style>
  #map {
    height: 80vh;
  }

  .single-garden img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}

  {% include "gardens/_progress.html" %}

  <div id="map" class="rounded-sm shadow-xs my-5"></div>

  <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
  {% for each in gardens %}
    <li class="relative">
      <div class="group overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
        <img src="{{ each.thumbnail }}" alt="" class="pointer-events-none w-full h-full object-cover group-hover:opacity-75" style="height:210px">
        <a class="absolute inset-0 focus:outline-hidden" href="{{ each.get_absolute_url }}" title="{{ _("Image credits") }}: {{ each.photo.author }}">
        </a>
      </div>
      <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{ each.name }}</p>
      {% if each.suburb %}
        <p class="pointer-events-none block text-sm font-medium text-gray-500"><em>{{ each.suburb }}</em></p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

{% endblock %}

{% block js %}
<script type="text/javascript">

  var geojsonlayer = L.geoJSON().addTo(map);
  {% for each in gardens %}
    {% if each.geometry %}
      {% if request.GET.area %}
        var garden_{{ each.id }} = {{ each.geometry.geojson|safe }};
      {% else %}
        var garden_{{ each.id }} = {{ each.geometry.centroid.geojson|safe }};
      {% endif %}
    var g_{{ each.id }} = L.geoJSON(garden_{{ each.id }}).addTo(map).bindPopup("{{ each.get_popup }}");
    {% endif %}
  {% endfor %}
  var all_geojson = new L.featureGroup([{% for each in all %}{% if each.geometry %}g_{{ each.id }},{% endif %}{% endfor %}]);
  map.fitBounds(all_geojson.getBounds());

</script>
{% endblock %}
