{% extends "_base.html" %}

{% block css %}
<style>
  #map {
    height: 80vh;
    position: sticky !important;
    top: 1rem;
  }

</style>
{% endblock %}

{% block content %}

  <h1>{{ page }}</h1>
  {{ page.get_content }}

  <div class="border rounded-sm bg-white shadow-xs p-3 d-inline-block mb-4">
    <i class="fal fa-fw fa-info-circle me-1"></i> We currently have <strong>{{ all.count }}</strong> gardens in our network.
  </div>

  <div>
    <div id="map" class="rounded-sm shadow-xs"></div>
  </div>

  {% if not request.GET.area %}
    <a href="?area=true">Show area</a>
  {% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">

  var geojsonlayer = L.geoJSON().addTo(map);
  {% for each in gardens %}
    {% if each.geometry %}
      {% if request.GET.area %}
        var garden_{{ each.id }} = {{ each.geometry.geojson|safe }};
      {% else %}
        var garden_{{ each.id }} = {{ each.geometry.centroid.geojson|safe }};
      {% endif %}
    var g_{{ each.id }} = L.geoJSON(garden_{{ each.id }}).addTo(map).bindPopup("{{ each.get_popup }}");
    {% endif %}
  {% endfor %}
  var all_geojson = new L.featureGroup([{% for each in all %}{% if each.geometry %}g_{{ each.id }},{% endif %}{% endfor %}]);
  map.fitBounds(all_geojson.getBounds());

</script>
{% endblock %}
