{% extends "_base.html" %}

{% block css %}
<style>
  #map {
    height: 80vh;
    position: sticky !important;
    top: 1rem;
  }

</style>
{% endblock %}

{% block content %}

  <h1>{{ info }}</h1>
  {{ info.get_content }}

  <div class="alert alert-info mt-4">
    <i class="fal fa-fw fa-info-circle me-1"></i> We currently have <strong>{{ all.count }}</strong> gardens in our network.
  </div>

  <div>
    <div id="map" class="rounded-sm shadow-xs"></div>
  </div>

  {% if not request.GET.area %}
    <a href="?area=true">Show area</a>
  {% endif %}

  <h2 class="mt-5">{{ _("Gardens") }}</h2>

  <table class="table datatable mt-4">
    <thead>
      <tr>
        <th>{{ _("Name") }}</th>
        <th>{{ _("Area") }}</th>
        <th>{{ _("Vegetation type") }}</th>
        <th>{{ _("Organisation(s)") }}</th>
      </tr>
    </thead>
    <tbody>
    {% for each in gardens %}
      <tr>
        <td><a class="text-decoration-none" href="{% url 'garden' each.id %}">{{ each }}</a></td>
        <td>{{ each.suburb }}</td>
        <td>{{ each.vegetation_type }}</td>
        <td>
          <ul class="list-unstyled">
          {% for org in each.organizations.gardens %}
            <li>
            <span class="badge bg-secondary">
              {{ org }}
            </span>
            </li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}

{% block js %}
<script type="text/javascript">

  var geojsonlayer = L.geoJSON().addTo(map);
  {% for each in gardens %}
    {% if each.geometry %}
      {% if request.GET.area %}
        var garden_{{ each.id }} = {{ each.geometry.geojson|safe }};
      {% else %}
        var garden_{{ each.id }} = {{ each.geometry.centroid.geojson|safe }};
      {% endif %}
    var g_{{ each.id }} = L.geoJSON(garden_{{ each.id }}).addTo(map).bindPopup("{{ each.get_popup }}");
    {% endif %}
  {% endfor %}
  var all_geojson = new L.featureGroup([{% for each in all %}{% if each.geometry %}g_{{ each.id }},{% endif %}{% endfor %}]);
  map.fitBounds(all_geojson.getBounds());

</script>
{% endblock %}
