<nav class="mainnav relative isolate z-10000 shadow-sm {{ SITE.meta_data.header }}">

  <div class="bg-white py-5">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 z-10001 relative flex justify-between">
      <div>
        <a href="/" class="mr-4"><i class="fa fa-home"></i></a>

        <a href="/gardens/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "about" %}text-sky-600{% else %}text-gray-900{% endif %} hovermenu" data-target="about" aria-expanded="false">
          {{ _("About Us") }}
          <i class="fa fa-angle-down mt-1"></i>
        </a>

        <a href="/gardens/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "gardens" %}text-sky-600{% else %}text-gray-900{% endif %} hovermenu" data-target="gardens" aria-expanded="false">
          {{ _("Garden network") }}
          <i class="fa fa-angle-down mt-1"></i>
        </a>

        <a href="/species/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "species" %}text-sky-600 active{% else %}text-gray-900{% endif %} hovermenu" data-target="species" aria-expanded="false">
          {{ _("Plant Explorer") }}
            <i class="fa fa-angle-down mt-1 {% if menu == "species" %}text-sky-600{% endif %}"></i>
        </a>

        <a href="/maps/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "maps" %}text-sky-600 active{% else %}text-gray-900{% endif %} hovermenu" data-target="maps" aria-expanded="false">
          {{ _("Maps") }}
            <i class="fa fa-angle-down mt-1 {% if menu == "maps" %}text-sky-600{% endif %}"></i>
        </a>

        <a href="/join/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "join" %}text-sky-600 active{% else %}text-gray-900{% endif %} hovermenu" data-target="join" aria-expanded="false">
          {{ _("Join Us") }}
            <i class="fa fa-angle-down mt-1 {% if menu == "join" %}text-sky-600{% endif %}"></i>
        </a>

        <a href="/resources/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "resources" %}text-sky-600 active{% else %}text-gray-900{% endif %} hovermenu" data-target="resources" aria-expanded="false">
          {{ _("Resources") }}
            <i class="fa fa-angle-down mt-1 {% if menu == "resources" %}text-sky-600{% endif %}"></i>
        </a>

        <a href="/rgm/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "planner" %}text-sky-600 active{% else %}text-gray-900{% endif %} hovermenu" data-target="planner" aria-expanded="false">
          {{ _("Garden Planner") }}
            <i class="fa fa-angle-down mt-1 {% if menu == "planner" %}text-sky-600{% endif %}"></i>
        </a>
      </div>

      <a href="/account/" class="mr-3 inline-flex items-center gap-x-1 text-sm/6 font-semibold {% if menu == "account" %}text-sky-600 active{% else %}text-gray-900{% endif %} hovermenu" data-target="account" aria-expanded="false">
          <i class="fa fa-user"></i>
      </a>

    </div>
  </div>

  <div id="dropdown-species" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">View plant collections</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/species/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "all_species" and not "indigenous" in request.GET %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Explore species
              </a>
              <a href="/species/search/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "search" %}text-sky-600{% else %}text-gray-900{% endif %}
              ">
                <i class="fa fa-search fa-fw text-lg text-gray-400 mr-1"></i>
                Search species
              </a>
              <a href="/species/list/?feature=125&page=pioneers" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "pioneers" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-shovel fa-fw text-lg text-gray-400 mr-1"></i>
                Pioneers
              </a>
              <a href="/species/list/?feature=115&page=medicinal" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "medicinal" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-heart fa-fw text-lg text-gray-400 mr-1"></i>
                Medicinal
              </a>
              <a href="/species/list/?feature=123&page=edible" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "edible" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-utensils fa-fw text-lg text-gray-400 mr-1"></i>
                Edible
              </a>
              <a href="/species/list/?feature=126&page=easy" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "easy" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-check fa-fw text-lg text-gray-400 mr-1"></i>
                Easy to grow
              </a>
              <a href="/species/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600" hidden>
                <i class="fa fa-exclamation-triangle fa-fw text-lg text-gray-400 mr-1"></i>
                Invasives
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">{{ _("Animal-friendly plants") }}</h3>
          <div class="mt-6 mb-6 flow-root">
            <div class="-my-2">
              <a href="/species/list/?feature=111&feature=113&feature=114&feature=133&search=any&page=sunbirds" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "sunbirds" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                For sunbirds &amp; sugarbirds
              </a>
              <a href="/species/list/?feature=129&page=butterflies" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "butterflies" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-flower fa-fw text-lg text-gray-400 mr-1"></i>
                For butterflies
              </a>
              <a href="/species/list/?feature=110&page=bees" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "bees" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-flower-tulip fa-fw text-lg text-gray-400 mr-1"></i>
                For honey bees
              </a>
              <a href="/species/list/?feature=112&page=monkeybeetles" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "monkeybeetles" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-bug fa-fw text-lg text-gray-400 mr-1"></i>
                For monkey beetles
              </a>
              <a href="/species/list/?feature=111&feature=113&feature=114&feature=133&feature=109&search=any&page=birds" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "birds" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-crow fa-fw text-lg text-gray-400 mr-1"></i>
                For birds
              </a>
            </div>
          </div>
          <h3 class="text-sm/6 font-medium text-gray-500">{{ _("Additional info") }}</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "species_sources" %}" 
              class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600 {% if page == "sources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-books fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Source documents") }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.analysis.png" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Online tool
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                Species list generator
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Select the site of your garden on a map, indicate your objectives, and our system 
              will generate a recommended species list for you!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/161477582/large.jpeg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/species/11877/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                <em>
                Ferraria crispa
                </em>
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              A stunning flower from the Iridaceae family - good for insects and a stunning sight.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-about" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Who we are</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "about" "introduction" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
              {% if slug == "introduction" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-info-circle fa-fw text-lg text-gray-400 mr-1"></i>
                Introduction
              </a>
              <a href="{% url "about" "history" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
              {% if slug == "history" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-file-alt fa-fw text-lg text-gray-400 mr-1"></i>
                History
              </a>
              <a href="{% url "about" "our-organisations" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
              {% if page == "organizations" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                Our organisations
              </a>
              <a href="{% url "about" "community-engagement-team" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
              {% if slug == "community-engagement-team" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-users fa-fw text-lg text-gray-400 mr-1"></i>
                Community engagement team
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Get in touch</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/contact/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                <i class="fa fa-envelope fa-fw text-lg text-gray-400 mr-1"></i>
                Contact us
              </a>
              <a href="/about/newsletter/" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
              {% if page == "newsletter" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-newspaper fa-fw text-lg text-gray-400 mr-1"></i>
                Newsletter
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fab fa-facebook fa-fw text-lg text-gray-400 mr-1"></i>
                Facebook
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fab fa-youtube fa-fw text-lg text-gray-400 mr-1"></i>
                Youtube
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.introvideo.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Online tool
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/page/introduction-video/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                Introduction video
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Check out this 5-minute video about the Fynbos Corridor Collaboration!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/161477582/large.jpeg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/species/11877/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                <em>
                Ferraria crispa
                </em>
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              A stunning flower from the Iridaceae family - good for insects and a stunning sight.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-gardens" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Fynbos corridors</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "gardens_map" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900
              {% if page == "gardens_introduction" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-info-circle fa-fw text-lg text-gray-400 mr-1"></i>
                Introduction
              </a>
              <a href="{% url "gardens_map" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-map-marker-alt fa-fw text-lg text-gray-400 mr-1"></i>
                Existing corridor projects
              </a>
              <a href="{% url "gardens_map" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-map-marker-alt fa-fw text-lg text-gray-400 mr-1"></i>
                High-impact strategic river corridors
              </a>
              <a href="{% url "gardens_map" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold
              {% if page == "gardens_map" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-map-marker-alt fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Garden map") }}
              </a>
              <a href="{% url "gardens" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold
              {% if page == "gardens" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                <i class="fa fa-map fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Stepping-stone gardens") }} (41)
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Recently updated</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/gardens/1003481/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                Alicedale Primary School  
              </a>
              <a href="/gardens/1003489/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                Goodwood wild food garden  
              </a>
              <a href="/gardens/1003487/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                Little Mowbray ZenDen 
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="w-full rounded-lg bg-gray-100 object-cover lg:h-auto" src="/media/photos/128_BdJlJAt.large.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Garden highlight
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
              <a href="/gardens/128/">
                <span class="absolute inset-0"></span>
                Newlands Triangle Gardens
              </a>
            </h4>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="w-full rounded-lg bg-gray-100 object-cover lg:h-auto" src="/media/photos/b.large.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
              <a href="/gardens/1003511/">
                <span class="absolute inset-0"></span>
                Plumstead Community Gardens
              </a>
            </h4>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-maps" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">View collections</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                Corridor map
              </a>
              <a href="{% url "vegetation_types" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "vegetation_types" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                Vegetation types
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Garden network
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Animal-friendly</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                Sunbirds
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                Owls
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                Black sparrow-hawk
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.analysis.png" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Tool <br>recommendation
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Species list generator
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Select the site of your garden on a map, indicate your objectives, and our system 
              will generate a recommended species list for you!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/16112761/medium.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Acacia caffra
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">A beautiful tree that brings support for pollinators, mammals, and shading to any garden!</p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-resources" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Documents</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/resources/teaching/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "teaching" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                Teaching resources
              </a>
              <a href="/resources/general/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "general" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Useful documents
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-500">
                <i class="fa fa-download fa-fw text-lg text-gray-400 mr-1"></i>
                Download maps
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Additional resources</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/blog/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "blog" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-edit fa-fw text-lg text-gray-400 mr-1"></i>
                Our blog
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.analysis.png" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Tool <br>recommendation
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Species list generator
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Select the site of your garden on a map, indicate your objectives, and our system 
              will generate a recommended species list for you!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/16112761/medium.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Acacia caffra
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">A beautiful tree that brings support for pollinators, mammals, and shading to any garden!</p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-join" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">{{ _("Create a new garden") }}</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Introduction") }}
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Sample gardens") }}
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Species selector tool") }}
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Add your garden") }}
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">{{ _("Support existing gardens") }}</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("How to support our gardens") }}
              </a>
              <a href="{% url "events" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "events" and menu == "join" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Upcoming events
              </a>
              <a href="/maps/" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900">
                <i class="fa fa-feather fa-fw text-lg text-gray-400 mr-1"></i>
                {{ _("Home nurseries") }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.analysis.png" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Tool <br>recommendation
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Species list generator
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Select the site of your garden on a map, indicate your objectives, and our system 
              will generate a recommended species list for you!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/16112761/medium.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Acacia caffra
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">A beautiful tree that brings support for pollinators, mammals, and shading to any garden!</p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-planner" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Planner Dashboard</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "planner" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "dashboard" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-home fa-fw text-lg text-gray-400 mr-1"></i>
                Homepage
              </a>
              <a href="{% url "planner_location" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "location" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-map fa-fw text-lg text-gray-400 mr-1"></i>
                My location
              </a>
              <a href="{% url "planner_site" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "site" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-cog fa-fw text-lg text-gray-400 mr-1"></i>
                My site features
              </a>
              <a href="{% url "planner_target_species" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "target" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-crow fa-fw text-lg text-gray-400 mr-1"></i>
                My target animals
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Start your garden</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "planner_suggestions" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "suggestions" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Suggested plants
              </a>
              <a href="{% url "planner_plants" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "plants" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-clipboard-list-check fa-fw text-lg text-gray-400 mr-1"></i>
                Plants overview
              </a>
              <a href="{% url "planner_calendar" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "calendar" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-calendar-alt fa-fw text-lg text-gray-400 mr-1"></i>
                Garden calendar
              </a>
              <a href="{% url "planner_nurseries" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "nurseries" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-hand-holding-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Plant nurseries
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <h3 class="text-sm/6 font-medium text-gray-500">Improve your garden</h3>
          <div class="flow-root">
            <div class="-my-2">
              <a href="{% url "planner_plants_present" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "PRESENT" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-edit fa-fw text-lg text-gray-400 mr-1"></i>
                Current plants
              </a>
              <a href="{% url "planner_plants_future" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "FUTURE" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-edit fa-fw text-lg text-gray-400 mr-1"></i>
                Future plants
              </a>
              <a href="/blog/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "blog" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-edit fa-fw text-lg text-gray-400 mr-1"></i>
                Current garden score card
              </a>
              <a href="/blog/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "blog" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-edit fa-fw text-lg text-gray-400 mr-1"></i>
                Future garden score card
              </a>
            </div>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <h3 class="text-sm/6 font-medium text-gray-500">Advanced tools</h3>
          <div class="flow-root">
            <div class="-my-2">
              <a href="/resources/teaching/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "teaching" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-home fa-fw text-lg text-gray-400 mr-1"></i>
                Ecological needs assessment
              </a>
              <a href="/resources/general/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "general" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-map fa-fw text-lg text-gray-400 mr-1"></i>
                Social needs assessment
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-500">
                <i class="fa fa-download fa-fw text-lg text-gray-400 mr-1"></i>
                Garden design
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-500">
                <i class="fa fa-download fa-fw text-lg text-gray-400 mr-1"></i>
                Certification
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-account" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Your account</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              {% if request.user.is_authenticated %}
                <a href="{% url "account" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
                {% if menu == "account" and page == "account" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                  <i class="fa fa-user fa-fw text-lg text-gray-400 mr-1"></i>
                  Manage my account
                </a>
                <a href="{% url "account_gardens" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
                {% if menu == "account" and page == "gardens" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                  <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                  My gardens
                </a>
                <a href="{% url "logout" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                  <i class="fa fa-sign-out fa-fw text-lg text-gray-400 mr-1"></i>
                  Log out
                </a>
              {% else %}
                <a href="{% url "create_account" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                  <i class="fa fa-user fa-fw text-lg text-gray-400 mr-1"></i>
                  Create account
                </a>
                <a href="{% url "login" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                  <i class="fa fa-sign-in fa-fw text-lg text-gray-400 mr-1"></i>
                  Log in
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.introvideo.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Online tool
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/page/introduction-video/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                Introduction video
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Check out this 5-minute video about the Fynbos Corridor Collaboration!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/161477582/large.jpeg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/species/11877/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                <em>
                Ferraria crispa
                </em>
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              A stunning flower from the Iridaceae family - good for insects and a stunning sight.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>


</nav>

  <div class="{{ SITE.meta_data.header }} pb-32">

    <header class="py-10">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

        <h1 class="text-3xl font-bold tracking-tight text-white">
          {{ SITE }}
        </h1>
      </div>
    </header>

  </div>

