@import 'tailwindcss';

@utility table {
  @apply w-full border-collapse bg-white;

  & th {
    @apply bg-gray-100 text-left font-semibold p-3 border-b;
    border-color: #dedede;
  }

  & td {
    @apply p-3 border-b;
    border-color: #dedede;
  }

  & tbody tr:nth-child(even) {
    @apply bg-gray-50;
  }

}

.dt-container table.dataTable > tbody > tr:nth-child(even) {
  @apply bg-gray-50;
}

@utility btn-blue {
  @apply bg-sky-600 shadow-inner shadow-md text-white py-2 px-4 rounded-sm hover:bg-sky-700 focus:outline-hidden font-bold focus:ring-sky-300 no-underline hover:text-white inline-block;
}

@utility btn-green {
  @apply bg-lime-600 shadow-inner shadow-md text-white py-1 px-4 rounded-sm hover:bg-lime-700 focus:outline-hidden font-bold focus:ring-lime-300 no-underline hover:text-white inline-block;
}

@utility btn-danger {
  @apply bg-red-600 shadow-inner shadow-md text-white py-1 px-4 rounded-sm hover:bg-red-700 focus:outline-hidden font-bold focus:ring-red-300 no-underline hover:text-white inline-block;
}

@utility btn-add {
  @apply bg-orange-600 shadow-inner shadow-md text-white py-1 px-4 rounded-sm hover:bg-orange-700 focus:outline-hidden font-bold focus:ring-orange-300 no-underline hover:text-white inline-block;
}

@utility btn-edit {
  @apply bg-amber-300 shadow-inner shadow-md text-white py-1 px-4 rounded-sm hover:bg-amber-400 focus:outline-hidden font-bold focus:ring-orange-300 no-underline hover:text-white inline-block;
}

@utility badge {
  @apply inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10;
}

@utility badge-success {
  @apply inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20;
}

@utility badge-danger {
  @apply inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10;
}

@utility badge-warning {
  @apply inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20;
}

@utility badge-info {
  @apply inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10;
}

@utility stdimg {
  @apply p-2 border border-gray-500 rounded-sm;
}

@utility alert {
  @apply p-4 border mb-2 rounded-sm;
}

@utility alert-icon {
  @apply flex items-center p-4 border;
}

@utility alert-success {
  @apply bg-lime-50 border-lime-500 text-lime-700;
}

@utility alert-info {
  @apply bg-sky-100 border-sky-500 text-sky-700;
}

@utility alert-warning {
  @apply bg-amber-50 border-amber-500 text-amber-700;
}

@utility alert-danger {
  @apply bg-red-100 border-red-500 text-red-700;
}

@utility tab {
  main & {
    @apply no-underline whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium;
  }
  main &.active {
    @apply border-indigo-500 text-indigo-600;
  }
  main &.inactive {
    @apply border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700;
  }
}

@utility active {
  main &.tab {
    @apply border-indigo-500 text-indigo-600;
  }
}

@utility inactive {
  main &.tab {
    @apply border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700;
  }
}

@layer utilities {
  .leaflet-map {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    height: 100%;
    min-height: 300px;
    width: 100%;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  .leaflet-map a.btn-primary {
    color: #fff;
  }
  .leaflet-map .period-toggles,
  .leaflet-map .download-map-wrapper,
  .leaflet-map .clear-map-wrapper {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 0.25rem;
  }
  .leaflet-map .switch-period,
  .leaflet-map .download-map,
  .leaflet-map .clear-map {
    background-color: #fff;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 1rem;
    color: #404040;
    border-radius: 0.25rem;
  }
  .leaflet-map .switch-period:hover,
  .leaflet-map .download-map:hover,
  .leaflet-map .clear-map:hover {
    background-color: #f4f4f4;
  }
  .leaflet-map .switch-period.prev {
    display: inline-block;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .leaflet-map .switch-period.next {
    display: inline-block;
    border-radius: 0 0.25rem 0.25rem 0;
  }
  .leaflet-map .switch-period.disabled {
    color: #efefef;
    cursor: not-allowed;
    background-color: #fff;
  }
  .leaflet-map .current-period {
    background-color: #f4f4f4;
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    width: 125px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .leaflet-map .show-world.button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 12px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-family: 'Font Awesome 5 Pro';
    text-align: center;
    font-size: 14px;
  }
  .leaflet-map .show-world.button:hover {
    background-color: #f4f4f4;
  }
  .leaflet-map .show-world.button::before {
    content: '\f7a2';
  }
  .leaflet-map .legend {
    line-height: 18px;
    color: #212529;
    background-color: #fbfbfb;
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    max-width: 250px;
  }
  .leaflet-map .legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 0.25rem !important;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    line-height: 1 !important;
  }
  .leaflet-popup-content-wrapper .title {
    font-size: 1.25rem;
  }
  .leaflet-popup-content-wrapper hr {
    margin: 13px 0 13px -19px;
    width: calc(100% + 38px);
  }
  .leaflet-popup-content-wrapper img {
    border-radius: 0.25rem;
    min-width: 200px;
    width: 100%;
  }

  /* Data-tables select should NOT be 100% */
  .dt-length select {
    width: auto;
  } 
  .fixed-thumb {
    object-fit: cover;
    height: 200px;
  }
  dl.dl-horizontal {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  dl.dl-horizontal dt,
  dl.dl-horizontal dd {
    display: inline-block;
    margin: 0;
  }

  dl.dl-horizontal dt {
    font-weight: bold;
    width: 200px; /* Adjust this width as necessary */
    margin-bottom: 5px;
  }

  dl.dl-horizontal dd {
    margin-left: 0;
    margin-bottom: 10px;
    width: auto;
    flex: 1;
  }
  .btn-edit {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index:1000;
  }
  .mainnav .dropdown {
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.2s ease-out,
      transform 0.2s ease-out;
    position: absolute;
  }
}

@layer base {

  main a {
    @apply text-sky-800 underline font-bold hover:text-sky-700 hover:no-underline;
  }

  main h1 {
    @apply text-3xl font-bold mb-6;
  }

  main h2 {
    @apply text-2xl font-bold mb-4;
  }

  main h3 {
    @apply text-xl font-bold mb-2;
  }

  main h4 {
    @apply font-bold mb-2;
  }

  main p {
    @apply mb-2;
  }

  main input:not([type="radio"]):not([type="checkbox"]) {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-hidden focus:ring-2 focus:ring-blue-500 bg-white;
  }
  main select {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-hidden focus:ring-2 focus:ring-blue-500 bg-gray-50;
  }
  main textarea {
    @apply w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:outline-hidden focus:ring-2 focus:ring-blue-500 bg-white;
  }

}

