  {% if status == "PRESENT" %}
    <h2 class="mb-1">{{ _("Current score") }}</h2>
    <p class="mb-8">{{ _("Based on the species currently in your garden.") }}</p>
  {% else %}
    <h2 class="mb-1">{{ _("Future score") }}</h2>
    <p class="mb-8">{{ _("After you have planted all your future species.") }}</p>
  {% endif %}

  {% if species_score %}

  <div class="mb-3">
    <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
      <span>Sunbirds &amp; Sugarbirds</span>
      <span>62</span>
    </p>
    <div aria-hidden="true">
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div style="width: 62%" class="h-2 rounded-full bg-yellow-500"></div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
      <span>Butterflies</span>
      <span>52</span>
    </p>
    <div aria-hidden="true">
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div style="width: 52%" class="h-2 rounded-full bg-yellow-400"></div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
      <span>Species composition</span>
      <span>28</span>
    </p>
    <div aria-hidden="true">
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div style="width: 28%" class="h-2 rounded-full bg-red-600"></div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
      <span>Structural diversity</span>
      <span>39</span>
    </p>
    <div aria-hidden="true">
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div style="width:39%" class="h-2 rounded-full bg-orange-500"></div>
      </div>
    </div>
  </div>

  <a class="full_report btn-white mt-4" href="{% if status == "PRESENT" %}{% url "planner_score" GARDEN %}{% else %}{% url "planner_score_future" GARDEN %}{% endif %}">Full report</a>

  {% else %}

    <div class="rounded-sm bg-gray-100 text-gray-600 p-3 text-center mt-10">
      <strong class="block mb-2">{{ _("No score available yet") }}</strong>
      {{ _("Please register your current garden species to create a scorecard.") }}
    </div>

  {% endif %}
