{% load ucp_extras %}
  {% if status == "PRESENT" %}
    <h2 class="mb-1">{{ _("Current score") }}</h2>
    <p class="mb-8">{{ _("Based on the species currently in your garden.") }}</p>
  {% else %}
    <h2 class="mb-1">{{ _("Future score") }}</h2>
    <p class="mb-8">{{ _("After you have planted all your future species.") }}</p>
  {% endif %}

  {% if scoring_table %}

    {% for label,points in scoring_table.items %}
      {% if label != "total" %}
        <div class="mb-3">
          <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
            <span>{{ label}}</span>
            <span>{{ points }}</span>
          </p>
          <div aria-hidden="true">
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div style="width: {{ points }}%" class="h-2 rounded-full bg-{{ points|color_calculator }}"></div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <a class="full_report btn-white mt-4" href="{% if status == "PRESENT" %}{% url "planner_score" GARDEN %}{% else %}{% url "planner_score_future" GARDEN %}{% endif %}">{{ _("Full report") }}</a>

  {% else %}

    <div class="rounded-sm bg-gray-100 text-gray-600 p-3 text-center mt-10">
      <strong class="block mb-2">{{ _("No score available yet") }}</strong>
      {{ _("Please register your current garden species to create a scorecard.") }}
    </div>

  {% endif %}
