{% load querystring_plus %}

<div class="sm:block z-1000">
  <nav class="tabs -mb-px flex space-x-2" aria-label="{{ _("Tabs") }}">
    <a href="{% url "planner_requirements" GARDEN %}" class="tab {% if slug == "requirements" %}active{% else %}inactive{% endif %}">
      <i class="fa fa-clipboard-check mr-1"></i>
      {{ _("Requirements") }}
    </a>
    <a href="{% url "planner_profile" GARDEN %}" class="tab {% if slug == "profile" and not photos %}active{% else %}inactive {% endif %}">
      <i class="fa fa-file-alt mr-1"></i>
      {{ _("Garden profile") }}
    </a>
    <a href="{% url "planner_profile_photos" GARDEN %}" class="tab {% if slug == "profile" and photos %}active{% else %}inactive{% endif %}">
      <i class="fa fa-image mr-1"></i>
      {{ _("Photos") }}
    </a>
    <a href="{% url "planner_activate" GARDEN %}" class="tab {% if slug == "activate" %}active{% else %}inactive{% endif %}">
      <i class="fa fa-check-circle mr-1"></i>
      {{ _("Activate") }}
    </a>
  </nav>
</div>
