{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ page_info }}{% endblock %}

{% block content %}

<div class="container mt-10">
  <div class="flex gap-4">

    <div class="flex-2 pt-10 pl-10 pr-2">
      <h1 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
        {{ page_info }}
        <i class="fas fa-shovel"></i>
      </h1>
      <div class="mt-6 text-lg/8 text-gray-600">
        {{ page_info.get_content }}
      </div>
      {% if not "new" in request.GET %}
        <div class="mt-6 text-lg/8 text-gray-600">
          {{ _("Your garden") }}
          {% if garden %}
            <span class="badge font-bold bg-lime-50 text-lg">{{ garden }}</span>
            {% if not request.user.is_authenticated %}
            <p class="mt-5">
              {{ _("If you want to save your garden or manage multiple gardens, please create an account.") }}
            </p>
            <div class="mt-3">
              <a class="btn-blue mr-5" href="{% url "create_account" %}?next={{ request.get_full_path }}">{{ _("Create account") }}</a>
              <a href="{% url "login" %}?next={{ request.get_full_path }}">{{ _("Log in") }}</a>
            </div>
            {% else %}
            <div class="mt-10 text-sm">
              <a class="text-gray-700" href="?new">{{ _("Create a new garden") }}</a> &middot;
              <a class="text-gray-700" href="{% url "account_gardens" %}">{{ _("My gardens") }}</a>
            </div>
            {% endif %}
          {% else %}
            <span class="badge font-bold bg-orange-50 text-lg">
              {{ _("No garden set up yet") }}
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <a {% if garden %} href="{% url "planner_location" GARDEN %}" {% endif %} class="flex-1 relative no-underline {% if garden %} hover:opacity-75{% else %}opacity-40{% endif %}">
      <div class="absolute inset-0 rounded-lg bg-white lg:rounded-bl-4xl"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
        <img src="/media/planner.location.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Location") }}</p>
          <p class="mt-2 mb-5 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Select the exact location and size of your restoration project.") }}</p>
          {% if garden and garden.geometry %}
            <h3 class="text-sm/4 font-semibold text-lime-600"><i class="fa fa-check"></i> {{ _("Saved") }}</h3>
          {% else %}
            <h3 class="text-sm/4 font-semibold text-orange-600"><i class="fa fa-dot-circle"></i> {{ _("Pending") }}</h3>
          {% endif %}
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-bl-4xl"></div>
    </a>

    <a {% if garden %} href="{% url "planner_site" GARDEN %}" {% endif %} class="flex-1 relative no-underline {% if garden %} hover:opacity-75{% else %}opacity-40{% endif %}">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.soil.jpg" title="Photo by Nicolas Postiglioni: https://www.pexels.com/photo/gray-sands-closeup-photo-943500/" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Site features") }}</p>
          <p class="mt-2 mb-5 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Select soil type and other typology options for your garden.") }}</p>
          {% if garden and garden.site_features.count %}
            <h3 class="text-sm/4 font-semibold text-lime-600"><i class="fa fa-check"></i> {{ _("Saved") }}</h3>
          {% else %}
            <h3 class="text-sm/4 font-semibold text-orange-600"><i class="fa fa-dot-circle"></i> {{ _("Pending") }}</h3>
          {% endif %}
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

    <a {% if garden %} href="{% url "planner_target_species" GARDEN %}" {% endif %} class="flex-1 relative no-underline {% if garden %} hover:opacity-75{% else %}opacity-40{% endif %}">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/118240906/medium.jpeg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Target animals") }}</p>
          <p class="mt-2 mb-5 max-w-lg text-sm/6 text-gray-600 font-normal">
            {{ _("Define which animal species you want to focus on in your restoration efforts.") }}
          </p>
          {% if garden and garden.targets.count %}
            <h3 class="text-sm/4 font-semibold text-lime-600"><i class="fa fa-check"></i> {{ _("Saved") }}</h3>
          {% else %}
            <h3 class="text-sm/4 font-semibold text-orange-600"><i class="fa fa-dot-circle"></i> {{ _("Pending") }}</h3>
          {% endif %}
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

  </div>
</div>

{% if not garden %}
  <form method="post" class="mt-5">
    <h2>{{ _("To start using our tools, enter your garden name") }}</h2>
    {% csrf_token %}
    <label for="garden" class="sr-only">{{ _("Garden name") }}</label>
    <input id="garden" name="garden" type="text" required class="min-w-0 flex-auto rounded-md border-0 bg-gray/5 px-3.5 py-2 text-gray shadow-xs ring-1 ring-inset ring-gray/10 focus:ring-2 focus:ring-inset focus:ring-lime-500 sm:text-sm/6" placeholder="{{ _("Enter a name for your garden") }}">
    <button type="submit" class="btn-green mt-2">{{ _("Next &raquo;") }}</button>
  </form>
{% endif %}

<div class="bg-white {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-32 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Start your garden") }}
        </h2>
        <p class="mt-4 text-gray-500">
          {{ _("Planting appropriate plants for your local vegetation types, soil and your garden's objectives is fundamental. The tools below guide you in this process.") }}
        </p>
      </div>
      <div class="mt-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fa fa-seedling text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">Suggested plants</h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Find out what species are most appropriate for your garden's conditions.") }}
            </p>
            <a href="{% url "planner_suggestions" GARDEN %}" class="no-underline hover:underline">{{ _("View species") }} &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fa fa-clipboard-list-check text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              {{ _("Plants overview") }}
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Check out what your planned garden looks like from a restoration viewpoint.") }}
            </p>
            <a href="{% url "planner_plants" GARDEN %}" class="no-underline hover:underline">{{ _("View overview") }} &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fa fa-calendar-alt text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              {{ _("Garden calendar") }}
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Check out a calendar for your planting, maintenance, and monitoring activities.") }}
            </p>
            <a href="{% url "planner_calendar" GARDEN %}" class="no-underline hover:underline">{{ _("View calendar") }} &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fa fa-hand-holding-seedling text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              {{ _("Indigenous nurseries") }}
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Find out which local nurseries stock indigenous plants.") }}
            </p>
            <a href="{% url "planner_nurseries" GARDEN %}" class="no-underline hover:underline">{{ _("View nurseries") }} &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-white {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="mx-auto mb-15 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Improve your garden") }}
        </h2>
        <p class="mt-4 text-gray-500">
          Register your current plant selection and your target species and
          our system will help analyse your garden's ecological score and suggest
          species to improve your work.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pl-10 {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="flex gap-4">

    <a href="{% url "planner_plants_present_list" GARDEN %}?view=photos-data" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white lg:rounded-bl-4xl"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
        <img src="/media/planner.current.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          {% if species_present %}
            <h3 class="text-sm/4 font-semibold text-lime-600"><i class="fa fa-check"></i> 
              {% blocktranslate %}{{ species_present }} species saved{% endblocktranslate %}
            </h3>
          {% else %}
            <h3 class="text-sm/4 font-semibold text-orange-600"><i class="fa fa-dot-circle"></i> {{ _("Pending") }}</h3>
          {% endif %}
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Current plants") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Record the species that are currently present in your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-bl-4xl"></div>
    </a>

    <a href="{% url "planner_plants_future_list" GARDEN %}?view=photos-data" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.future.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          {% if species_future %}
            <h3 class="text-sm/4 font-semibold text-lime-600"><i class="fa fa-check"></i> 
              {% blocktranslate %}{{ species_future }} species saved{% endblocktranslate %}
            </h3>
          {% else %}
            <h3 class="text-sm/4 font-semibold text-orange-600"><i class="fa fa-dot-circle"></i> {{ _("Pending") }}</h3>
          {% endif %}
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Future plants") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Record the species that you plan to add to your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

    <div class="flex-1 pt-3 pl-10 pr-2">
      {% with species_score=species_current status="PRESENT" %}
        {% include "planner/_score.html" %}
      {% endwith %}
    </div>

    <div class="flex-1 pt-3 pl-10 pr-2">
      {% with species_score=species_future status="FUTURE" %}
        {% include "planner/_score.html" %}
      {% endwith %}
    </div>

    <div class="flex-1 pt-3 pl-10 pr-2" hidden>
      <h2 class="mb-1">Future score</h2>
      <p class="mb-8">After you have planted all your future species.</p>

      {% if species_future %}
        <div class="mb-3">
          <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
            <span>Sunbirds &amp; Sugarbirds</span>
            <span>92</span>
          </p>
          <div aria-hidden="true">
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div style="width: 92%" class="h-2 rounded-full bg-lime-500"></div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
            <span>Butterflies</span>
            <span>85</span>
          </p>
          <div aria-hidden="true">
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div style="width: 85%" class="h-2 rounded-full bg-lime-400"></div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
            <span>Species composition</span>
            <span>88</span>
          </p>
          <div aria-hidden="true">
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div style="width: 88%" class="h-2 rounded-full bg-lime-500"></div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="text-sm font-medium text-gray-900 flex justify-between mb-1">
            <span>Structural diversity</span>
            <span>80</span>
          </p>
          <div aria-hidden="true">
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div style="width:80%" class="h-2 rounded-full bg-lime-200"></div>
            </div>
          </div>
        </div>

        <a class="btn-white mt-4" href="">Full report</a>

      {% else %}

        <div class="rounded-sm bg-gray-100 text-gray-600 p-3 text-center mt-10">
          <strong class="block mb-2">{{ _("No score available yet") }}</strong>
          {{ _("Please save future species to your garden to create a scorecard.") }}
        </div>

      {% endif %}

    </div>

  </div>
</div>



<div class="bg-white {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-32 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Become part of our corridor!") }}
        </h2>
        <p class="mt-4 text-gray-500">
          Any city park, private garden, corporate garden, or public open space can become 
          part of our corridor! Register your garden now and join our community.
        </p>
      </div>
      <div class="mt-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-clipboard-check text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">Review requirements</h3>
            <p class="mt-2 text-sm text-gray-500">
              Make sure you meet the requirements to join our corridor.
            </p>
            <a href="http://" class="no-underline hover:underline">View checklist &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-file-image text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              Online profile
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Write your online garden profile, upload photos, and more.
            </p>
            <a href="http://" class="no-underline hover:underline">Manage profile &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-calendar-edit text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              Announce events
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Weeding days? Maintenance activities? Announce your events to the public!
            </p>
            <a href="http://" class="no-underline hover:underline">Manage events &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-people-carry text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              Request support
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Do you need specific plant species? Soil? Equipment? Ask our community for help.
            </p>
            <a href="http://" class="no-underline hover:underline">Request now &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="bg-white {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="mx-auto mb-15 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Advanced tools") }}
        </h2>
        <p class="mt-4 text-gray-500">
          Do you want to take things to the next level? Below are a set of
          more advanced tools for those that are keen to take the ecological
          restoration of their space to the next level!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pl-10 {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="flex gap-4">

    <a href="{% url "planner_location" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white lg:rounded-bl-4xl"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
        <img src="/media/planner.ecologicalwheel.png" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Ecological needs assessment") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Assess, plan for, and monitor the ecological needs of your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-bl-4xl"></div>
    </a>

    <a href="{% url "planner_target_species" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.socialwheel.png" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Social needs assessment") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Assess, plan for, and monitor the social needs of your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

    <a href="{% url "planner_target_species" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.design.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Garden design") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Learn more about how to combine landscape architecture and ecological restoration to design your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

    <a href="{% url "planner_target_species" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.certify.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Certification") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Consult our affiliated professionals to certify your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>


  </div>
</div>

{% endblock %}
