{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ page_info }}{% endblock %}

{% block content %}

<div class="bg-white {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-32 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Become part of our corridor!") }}
        </h2>
        <p class="mt-4 text-gray-500">
          Any city park, private garden, corporate garden, or public open space can become 
          part of our corridor! Register your garden now and join our community.
        </p>
      </div>
      <div class="mt-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-clipboard-check text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">Review requirements</h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Make sure you meet the requirements to join our corridor.") }}
            </p>
            <a href="{% url "join" "requirements" %}" class="no-underline hover:underline">{{ _("View checklist") }} &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-file-image text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              Online profile
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Write your online garden profile, upload photos, and more.") }}
            </p>
            <a href="http://" class="no-underline hover:underline">{{ _("Manage profile") }} &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-calendar-edit text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              Announce events
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Weeding days? Maintenance activities? Announce your events to the public!
            </p>
            <a href="http://" class="no-underline hover:underline">Manage events &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fal fa-people-carry text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              Request support
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Do you need specific plant species? Soil? Equipment? Ask our community for help.
            </p>
            <a href="http://" class="no-underline hover:underline">Request now &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
