{% extends "_base.html" %}
{% block title %}
  {{ page_info }}
{% endblock %}

{% block content %}

<div class="flex justify-between">
  <div>
    {% with this_page=title %}
      {% include "planner/_breadcrumbs.html" %}
    {% endwith %}
  </div>
  <div class="flex flex-col justify-start">
    <a 
      class="btn-blue" 
      {% if tab != "FUTURE" %}
        href="{% url "planner_plants_present_list" garden.id %}"
      {% else %}
        href="{% url "planner_plants_future_list" garden.id %}"
      {% endif %}
    >
      <i class="fa fa-list mr-1"></i> {{ _("View detailed list") }}
    </a>
  </div>
</div>

<form method="post">

  <div>
    {{ page_info.get_content }}
  </div>

  <div class="alert alert-info">
    <i class="fa fa-info-circle fa-fw mr-3"></i>
    <span>
      <strong>{{ species_list.count }}</strong> species found
    </span>
  </div>

  <div class="flex gap-8">
    <div class="flex-4">
      <div class="sm:block">
        <div class="border-b border-gray-200">
          <nav class="tabs -mb-px flex space-x-8" aria-label="{{ _("Tabs") }}">
            <a href="{% url "planner_plants_future" garden.id %}" class="tab {% if tab != "FUTURE" %}in{% endif %}active">{{ _("Future plants overview") }}</a>
            <a href="{% url "planner_plants_present" garden.id %}" data-section="photos" class="tab  {% if tab != "PRESENT" %}in{% endif %}active">{{ _("Current plants overview") }}</a>
          </nav>
        </div>
      </div>

      <div class="tab_content">
        <section class="mt-2">
          {% include "species/_table.html" %}
        </section>
      </div>
       
    </div>

    <div class="flex-2 mt-10 pt-3 pr-2">
      {% with scoring_table=score status=tab %}
        {% include "planner/_score.html" %}
      {% endwith %}

      <h2 class="mb-1 mt-10">{{ _("Next steps") }}</h2>
      <p class="mb-8">{{ _("Did you finish improving your garden's restoration potential?") }}</p>
      <a href="{% url "planner_calendar" garden.id %}" class="btn-blue mb-2"><i class="fa fa-calendar-alt mr-1"></i> {{ _("Garden calendar") }} &raquo;</a>
      <br>
      <a href="{% url "planner_nurseries" garden.id %}" class="btn-blue"><i class="fa fa-hand-holding-seedling mr-1"></i> {{ _("Indigenous nurseries") }} &raquo;</a>

    </div>

  </div>

<div class="mt-10">
  {% include "planner/_returnlink.html" %}
</div>

  {% csrf_token %}
</form>

{% endblock %}
