{% extends "_base.html" %}

{% block content %}

{% with this_page=title %}
  {% include "planner/_breadcrumbs.html" %}
{% endwith %}

<div class="flex">
  <div class="flex-4">
    <div class="alert alert-warning mr-5">

      {{ _("We have prepared a selection of suggested plants based on your location, site features, and target animal species.") }}
      {{ _("You can create a planting list with future species that you would like to add to your garden.") }}
      {{ _("If your garden already has some of these species present, then you can also flag this.") }}
      {{ _("By entering which species you want / have, our system will calculate a restoration score for your garden.") }}
      {% if more_species_available %}
        <br>
        <br>
        {{ _("Note: We limit the selection to 50 species (selecting the most relevant species first). If you want to view all species that are a match, click the button below.") }}
      {% endif %}

      <div class="mt-3 flex justify-between">
        <div>
          <a href="?add_all" class="btn btn-green">
            {{ _("Add all species to my list") }}
          </a>
          {% if more_species_available %}
            <a href="?view_all" class="btn btn-green">
              {{ _("View all species") }}
            </a>
          {% elif species_count > 50 %}
            <a href="?" class="btn btn-green">
              {{ _("View top 50") }}
            </a>
          {% endif %}
        </div>
        <button class="btn btn-white show-id" data-show="filters">
          {{ _("Show the filters that have been applied") }} <i class="fa fa-arrow-down"></i>
        </button>
      </div>

      <div class="hidden" id="filters">
        <h2 class="mt-5">{{ _("The following filters have been applied to find relevant species:") }}</h2>
        <ul class="mb-3 ml-4 mt-3">
        {% for each in features %}
          <li>
            <i class="fa fa-check"></i> {{ each }}
          </li>
        {% endfor %}
        </ul>

        {% if vegetation_type %}
          <p>Vegetation type: <a href="{{ vegetation_type.get_absolute_url }}">{{ vegetation_type }}</a></p>
        {% endif %}

      </div>

    </div>
  </div>

  <div class="flex-1">
    <div class="rounded-sm bg-gray-100 text-gray-800 py-5 px-3 text-center">
      <strong class="block mb-2 text-5xl">{{ species_count }}</strong>
      {{ _("recommended plant species") }}
    </div>
    <div class="justify-end">
      <a href="{% url "planner_plants" garden.id %}" class="btn-blue mt-10">{{ _("Plants overview") }} &raquo;</a>
    </div>
  </div>
</div>

{% include "species/_grid.html" %}

<div class="flex justify-between">
  <div class="mt-10">
    {% include "planner/_returnlink.html" %}
  </div>
  <a href="{% url "planner_plants" garden.id %}" class="btn-blue mt-10">{{ _("Plants overview") }} &raquo;</a>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
  $(".show-id").click(function(e){
    e.preventDefault();
    var show = $(this).data("show");
    $("#" + show).show();
    $(this).hide();
  });

  table.order([3, 'asc']).draw();
});
</script>
  
{% endblock %}
