{% extends "_base.html" %}

{% block content %}

<h1>{{ title }}</h1>

<div class="flex flex-col md:flex-row {% if plants_present and plants_future %}{% else %}gap-4{% endif %}">
  <div class="flex-1 {% if plants_present and plants_future %}border-r border-gray-300{% endif %} mb-10">
    <h2 class="p-5 {% if plants_present %}border-b-4 border-gray-300 bg-gray-100{% endif %} text-center">
      <a class="text-gray-700" href="{% url "planner_plants_present_list" GARDEN %}?view=photos-data">{{ _("Current plants") }}</a>
    </h2>

    {% if plants_present %}
      <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mr-2">
          {% for species in plants_present %}
            <a class="no-underline rounded-lg p-1 hover:bg-gray-200 mb-2" href="{{ species.get_absolute_url }}">
              <div class="flex items-center gap-x-6">
                <img 
                  src="{{ species.photo.thumbnail }}" 
                  alt="" 
                  class="size-16 rounded-full outline-1 -outline-offset-1 outline-black/5"
                  title="{{ species.photo.author }}"
                  >
                <div>
                  <p class="font-semibold tracking-tight text-gray-900 mb-0">
                    {% if species.name_en %}{{ species.name_en }}{% else %}<em>{{ species.name }}</em>{% endif %}
                  </p>
                  {% if species.name_en %}
                    <p class="text-sm font-normal text-gray-600"><em>{{ species.name }}</em></p>
                  {% endif %}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="flex justify-between p-5 border-t-2 border-gray-300 bg-gray-100">
        <a class="btn-green btn-sm" href="{% url "planner_plants_present_list" GARDEN %}?view=photos-data">
          <i class="fas fa-seedling mr-2"></i>
          {{ _("View in Plant Explorer") }}
        </a>
        <a class="full_report btn-gray btn-sm" href="{% url "planner_score_present" GARDEN %}">
          <i class="fas fa-chart-line mr-2"></i>
          {{ _("Full scorecard") }}
        </a>
      </div>

    {% else %}
      <div class="relative block w-full rounded-lg bg-gray-100 py-20 px-12 text-center hover:border-gray-400">
        <div class="mt-2 block text-sm font-semibold text-gray-600">
          <div>{{ _("No species added yet.") }}</div>
          <a class="btn btn-blue btn-sm mt-5" href="{% url "species" %}">{{ _("View our plants database") }}</a>
        </div>
      </div>
    {% endif %}

  </div>
  <div class="flex-1">
    <h2 class="p-5 {% if plants_future %}border-b-4 border-gray-300 bg-gray-100{% endif %} text-center">
      <a class="text-gray-700" href="{% url "planner_plants_future_list" GARDEN %}?view=photos-data">{{ _("Future plants") }}</a>
    </h2>

    {% if plants_future %}
      <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 ml-2">
          {% for species in plants_future %}
            <a class="no-underline rounded-lg p-1 hover:bg-gray-200 mb-2" href="{{ species.get_absolute_url }}">
              <div class="flex items-center gap-x-6">
                <img 
                  src="{{ species.photo.thumbnail }}" 
                  alt="" 
                  class="size-16 rounded-full outline-1 -outline-offset-1 outline-black/5"
                  title="{{ species.photo.author }}"
                  >
                <div>
                  <p class="font-semibold tracking-tight text-gray-900 mb-0">
                    {% if species.name_en %}{{ species.name_en }}{% else %}<em>{{ species.name }}</em>{% endif %}
                  </p>
                  {% if species.name_en %}
                    <p class="text-sm font-normal text-gray-600"><em>{{ species.name }}</em></p>
                  {% endif %}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="flex justify-between p-5 border-t-2 border-gray-300 bg-gray-100">
        <a class="btn-green btn-sm" href="{% url "planner_plants_future_list" GARDEN %}?view=photos-data">
          <i class="fas fa-seedling mr-2"></i>
          {{ _("View in Plant Explorer") }}
        </a>
        <a class="full_report btn-gray btn-sm" href="{% url "planner_score_future" GARDEN %}">
          <i class="fas fa-chart-line mr-2"></i>
          {{ _("Full scorecard") }}
        </a>
      </div>

    {% else %}
      <div class="relative block w-full rounded-lg bg-gray-100 py-20 px-12 text-center hover:border-gray-400">
        <div class="mt-2 block text-sm font-semibold text-gray-600">
          <div>{{ _("No species added yet.") }}</div>
          <a class="btn btn-blue btn-sm mt-5" href="{% url "planner_suggestions" garden.id %}">{{ _("View suggested plants") }}</a>
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}
