{% extends "_base.html" %}
{% load static %}

{% block content %}

<h1 class="text-3xl">{{ title }}</h1>

<div class="sm:block">
  <div class="border-b border-gray-200">
    <nav class="tabs -mb-px flex space-x-8" aria-label="Tabs">
      <a href="{% url "planner_profile" GARDEN %}" class="tab {% if photos or species %}in{% endif %}active"><i class="fa fa-pencil mr-1"></i> {{ _("Edit profile") }}</a>
      <a href="{% url "planner_profile_photos" GARDEN %}" class="tab {% if not photos %}in{% endif %}active"><i class="fa fa-image mr-1"></i>{{ _("Photos") }}</a>
      <a href="{{ garden.get_absolute_url }}" target="_blank" class="tab ml-auto inactive"><i class="fa fa-external-link mr-1"></i>{{ _("Preview") }}</a>
    </nav>
  </div>
</div>

<div class="bg-gray-100 p-5">

  <div class="space-y-12">

    {% if not photos and not species %}

      <form method="post" enctype="multipart/form-data">

        <div class="col-span-full mt-2">
          <label class="block text-sm/6 font-medium text-gray-900">{{ _("Garden name") }}</label>
          <div class="mt-2">
            <input type="text" name="name" value="{{ garden.name|default_if_none:"" }}" required>
          </div>
        </div>

        <div class="col-span-full mt-4">
          <label for="description" class="block text-sm/6 font-medium text-gray-900">{{ _("Description") }}</label>
          <div class="mt-2">
            <textarea name="description" id="description">{{ garden.description|default_if_none:"" }}</textarea>
          </div>
        </div>

        {% if garden.location_file and False %}
          <div class="col-span-full">
            <label for="cover-photo" class="block text-sm/6 font-medium text-gray-900">{{ _("File") }}</label>
            <div class="mt-2 flex rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
              <ul>
                  <li class="mb-5">
                    <i class="fa-fw fa fa-{{ garden.location_file.get_icon }}"></i>
                    <a href="{{ garden.location_file.file.url }}">
                    {{ garden.location_file }}
                    </a>
                    <span class="text-xs/5 text-gray-600">
                      ({{ garden.location_file.file.size|filesizeformat }})
                    </span>
                </li>
              </ul>
            </div>
          </div>
        {% endif %}

        <div class="mt-10">
          <legend class="text-sm/6 font-semibold text-gray-900">{{ _("Type") }}</legend>
          <div class="mt-2 space-y-2">
            <select name="type" required>
              <option value=""></option>
              {% for each in garden_types %}
                <option {% if each == garden.garden_type %}selected{% endif %} value="{{ each }}">{{ each.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <h2 class="mb-5 mt-10">{{ _("Who manages this space?") }}</h2>

        <div class="col-span-full mt-2">
          <label class="block text-sm/6 font-medium text-gray-900">{{ _("Contact name") }}</label>
          <div class="mt-2">
            <input type="text" name="contact_name" value="{{ garden.contact_name|default_if_none:"" }}">
          </div>
        </div>

        <div class="col-span-full mt-2">
          <label class="block text-sm/6 font-medium text-gray-900">{{ _("Contact phone (optional)") }}</label>
          <div class="mt-2">
            <input type="text" name="contact_phone" value="{{ garden.contact_phone|default_if_none:"" }}">
          </div>
        </div>

        <div class="col-span-full mt-2">
          <label class="block text-sm/6 font-medium text-gray-900">{{ _("Contact e-mail (optional)") }}</label>
          <div class="mt-2">
            <input type="text" name="contact_email" value="{{ garden.contact_email|default_if_none:"" }}">
          </div>
        </div>

        <div class="mt-10 space-y-10">
          <fieldset>
            <legend class="text-sm/6 font-semibold text-gray-900">{{ _("Published?") }}</legend>
            <div class="mt-6 space-y-2">
              <div class="flex items-center gap-x-3">
                <input {% if garden.is_active %}checked{% endif %} id="is_active" name="is_active" value="1" type="radio" class="size-4 border-gray-300 text-sky-600 focus:ring-sky-600">
                <label for="is_active" class="block text-sm/6 font-medium text-gray-900">{{ _("Active") }}</label>
              </div>
              <div class="flex items-center gap-x-3">
                <input {% if not garden.is_active %}checked{% endif %} id="is_not_active" name="is_active" value="0" type="radio" class="size-4 border-gray-300 text-sky-600 focus:ring-sky-600">
                <label for="is_not_active" class="block text-sm/6 font-medium text-gray-900">{{ _("Inactive") }}</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button type="submit" class="btn-green">{{ _("Save") }}</button>
        </div>
        {% csrf_token %}

      </div>
    </form>

  {% elif photos %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">

          {% if garden.id and garden.photos.count %}
            <div class="grid grid-cols-6 gap-2 mb-6">
              {% for each in garden.photos.all %}
                <div class="relative overflow-hidden rounded-lg shadow-lg aspect-w-16 aspect-h-9">
                  <a href="{{ each.id }}/"><img src="{{ each.thumbnail }}" alt="" class="object-cover w-full h-full"></a>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label for="photo" class="block text-sm/6 font-medium text-gray-900">{{ _("Add photos") }}</label>
              <div class="mt-2">
                <input id="photo" type="file" multiple required name="photos" accept=".jpg,.jpeg,image/jpeg" />
              </div>
            </div>
          </div>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label class="block text-sm/6 font-medium text-gray-900">{{ _("Photographer") }}</label>
              <div class="mt-2">
                <input type="text" required name="photographer" />
              </div>
            </div>
          </div>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label class="block text-sm/6 font-medium text-gray-900">{{ _("License") }}</label>
              <div class="mt-2">
              <select id="license" name="license" required>
                <option value=""></option>
                {% for key,value in licenses %}
                  <option {% if key == "cc-by" %}selected{% endif %} value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="alert mt-5 text-gray-700 text-sm border-gray-300">
              {{ _("If you select a Creative Commons license, people can reuse your photos elsewhere. We would love for your photos to have a permissive license, but if you prefer to not allow photo reuse, please select 'All Rights Reserved'. For more information about the various licenses, please see the Creative Commons website:") }}
              <a href="https://creativecommons.org/cc-licenses/">https://creativecommons.org/cc-licenses/</a>
            </div>

          </div>

        </div>

      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="submit" class="px-4 py-2 bg-lime-600 hover:bg-lime-700 text-white font-bold rounded-md focus:outline-hidden focus:ring-3 focus:ring-lime-300">
          {{ _("Save photos") }}
        </button>
      </div>
    </form>

    {% endif %}

  </div>
</div>

{% endblock %}
