{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ page_info }}{% endblock %}

{% block content %}

<div class="bg-white">
  <div class="mx-auto max-w-7xl py-5 sm:px-2 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Resources") }}
        </h2>
        <p class="mt-4 text-gray-500">
          {{ _("Planting appropriate plants for your local vegetation types, soil and your garden's objectives is fundamental. The tools below guide you in this process.") }}
        </p>
      </div>
      <div class="mt-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fa fa-calendar-alt text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              {{ _("Garden calendar") }}
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Check out a calendar for your planting, maintenance, and monitoring activities.") }}
            </p>
            <a href="{% url "planner_calendar" GARDEN %}" class="no-underline hover:underline">{{ _("View calendar") }} &raquo;</a>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <i class="fa fa-hand-holding-seedling text-5xl text-sky-700"></i>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
            <h3 class="text-sm font-medium text-gray-900">
              {{ _("Indigenous nurseries") }}
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ _("Find out which local nurseries stock indigenous plants.") }}
            </p>
            <a href="{% url "planner_nurseries" GARDEN %}" class="no-underline hover:underline">{{ _("View nurseries") }} &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white mt-10">
  <div class="mx-auto mb-15 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900">
          {{ _("Advanced tools") }}
        </h2>
        <p class="mt-4 text-gray-500">
          Do you want to take things to the next level? Below are a set of
          more advanced tools for those that are keen to take the ecological
          restoration of their space to the next level!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pl-10 {% if not garden %}opacity-40 cursor-not-allowed{% endif %}">
  <div class="flex gap-4">

    <a href="{% url "planner_location" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white lg:rounded-bl-4xl"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
        <img src="/media/planner.ecologicalwheel.png" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Ecological needs assessment") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Assess, plan for, and monitor the ecological needs of your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-bl-4xl"></div>
    </a>

    <a href="{% url "planner_target_species" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.socialwheel.png" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Social needs assessment") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Assess, plan for, and monitor the social needs of your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

    <a href="{% url "planner_target_species" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.design.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Garden design") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Learn more about how to combine landscape architecture and ecological restoration to design your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>

    <a href="{% url "planner_target_species" GARDEN %}" class="flex-1 relative no-underline hover:opacity-75">
      <div class="absolute inset-0 rounded-lg bg-white"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
        <img src="/media/planner.certify.jpg" alt="" class="h-40 object-cover object-center" />
        <div class="p-10 pt-4">
          <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{{ _("Certification") }}</p>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 font-normal">{{ _("Consult our affiliated professionals to certify your garden.") }}</p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"></div>
    </a>


  </div>
</div>

{% endblock %}
