{% if not hide_species_tabs %}
  {% with tabs_border=True %}
    {% include "species/_tabs.html" %}
  {% endwith %}
{% endif %}

<div class="tab_content">
  <section id="table">
    {% if not request.GET.view or request.GET.view == "table" %}
      {% include "species/_table.html" %}
    {% elif request.GET.view == "table-extended" %}
      {% include "species/_table.extended.html" %}
    {% elif request.GET.view == "photos" %}
      {% include "species/_photos.html" %}
    {% elif request.GET.view == "photos-extended" %}
      {% include "species/_photos.extended.html" %}
    {% elif request.GET.view == "photos-data" %}
      {% include "species/_photos.data.html" %}
    {% endif %}
  </section>

</div>
