<div class="sm:block">
  <div class="border-b border-gray-200">
    <nav class="tabs -mb-px flex space-x-8" aria-label="Tabs">
      <a href="{% querystring view="table" %}" class="tab {% if not request.GET.view or request.GET.view == "table" %}active{% else %}inactive {% endif %}">{{ _("Table") }}</a>
      <a href="{% querystring view="table-extended" %}" class="tab {% if request.GET.view == "table-extended" %}active{% else %}inactive{% endif %}">{{ _("Table - extended") }}</a>
      <a href="{% querystring view="photos" %}" class="tab {% if request.GET.view == "photos" %}active{% else %}inactive{% endif %}">{{ _("Photos") }}</a>
      <a href="{% querystring view="photos-extended" %}" class="tab {% if request.GET.view == "photos-extended" %}active{% else %}inactive{% endif %}">{{ _("Photos - extended") }}</a>
    </nav>
  </div>
</div>

<div class="tab_content">
  <section id="table">
    {% if not request.GET.view or request.GET.view == "table" %}
      {% include "species/_table.html" %}
    {% elif request.GET.view == "table-extended" %}
      {% include "species/_table.extended.html" %}
    {% elif request.GET.view == "photos" %}
      {% include "species/_photos.html" %}
    {% elif request.GET.view == "photos-extended" %}
      {% include "species/_photos.extended.html" %}
    {% endif %}
  </section>

</div>
