{% load i18n %}
  <script type="text/javascript">
  $(function(){
    $(".species_list").on("click", "button.planner-action", function(e) {

      var button = $(this);
      var action = $(this).data("action");
      var species = $(this).data("species");
      var name = $(this).closest(".species").find(".name").text();
      var classes = $(this).attr("class");
      $.ajax({
        url: "/species/"+species+"/",
        method: "POST",
        data: {
          action: action,
          classes: classes,
        },
        dataType: "json",
        success: function(response) {
          if (response.success) {
            if (!classes.includes("btn-gray")) {
              $("button.planner-action[data-species='"+species+"']").removeClass("btn-gray").addClass("btn-white");
              button.addClass("btn-gray");
              $("span#species_name").html(name);
              $("#notification").show();
            } else {
              button.removeClass("btn-gray").addClass("btn-white");
            }
          } else {
            alert("{{ _("Sorry, we were not able to record this species. Reload the page and try again.") }} Error code: 16.");
          }
        },
        error: function(xhr, status, error) {
          console.error("AJAX Error:", error);
          alert("{{ _("Sorry, we were not able to record this species. Reload the page and try again.") }} Error code: 17.");
        }
      });
    });

    $("#close_modal").click(function(){
      $("#dialog").hide();
    });

  });
  </script>

  <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6 z-10001">
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <div id="notification" class="hidden pointer-events-auto w-full max-w-sm translate-y-0 transform rounded-lg bg-white opacity-100 shadow-lg outline-1 outline-black/5 transition duration-300 ease-out sm:translate-x-0 dark:bg-gray-800 dark:-outline-offset-1 dark:outline-white/10 starting:translate-y-2 starting:opacity-0 starting:sm:translate-x-2 starting:sm:translate-y-0">
        <div class="p-4">
          <div class="flex items-start">
            <div class="shrink-0 pt-0.5">
              <i class="fa fa-check-circle text-lime-600"></i>
            </div>
            <div class="ml-3 w-0 flex-1">
              <p class="text-sm font-medium text-gray-900 dark:text-white">{{ _("Species added") }}</p>
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
                <span id="species_name"></span>
                {% blocktranslate %}
                   is now on your plant list for {{ garden }}.
                {% endblocktranslate %}
              </p>
              <div class="mt-4 flex">
                <a href="{% url "planner_plants_future" garden.id %}" class="btn-orange btn-sm">
                  <i class="fas fa-shovel mr-2"></i>
                  {{ _("Future plants") }}
                </a>
                <a href="{% url "planner_plants_present" garden.id %}" class="btn-orange btn-sm ml-2">
                  <i class="fas fa-shovel mr-2"></i>
                  {{ _("Current plants") }}
                </a>
              </div>
            </div>
            <div class="ml-4 flex shrink-0">
              <button type="button" id="close" class="cursor-pointer inline-flex rounded-md text-gray-400 hover:text-gray-500 focus:outline-2 focus:outline-offset-2 focus:outline-sky-600 dark:hover:text-white dark:focus:outline-sky-500">
                <span class="sr-only">{{ _("Close") }}</span>
                <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                  <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $(function(){
    $("#close").click(function() {
      $("#notification").hide("fast");  
    });
  });
  </script>


