<div class="mt-5 species_list">

  {% for each in species_list %}
    <div class="species flex justify-between h-full">
      <a href="{{ each.get_absolute_url }}" class="no-underline text-gray-800 hover:underline">
        {% if each.name_en %}
        <hgroup>
          <h2 class="name mb-0">{{ each.name_en }}</h2>
          <h3 class="font-normal"><em>{{ each.name }}</em></h3>
        </hgroup>
        {% else %}
          <h2><em class="name">{{ each.name }}</em></h2>
        {% endif %}
      </a>
      {% if garden %}
        <div class="flex flex-col justify-end">
          <div>
            <button 
              data-species="{{ each.id }}" 
              data-action="PRESENT" 
              class="planner-action {% if each in in_garden_present %}btn-gray{% else %}btn-white{% endif %} btn-sm"
            >
              <i class="fa fa-check-circle mr-1"></i>
              {{ _("I have this in my garden") }}
            </button>
            <button 
              data-species="{{ each.id }}" 
              data-action="FUTURE" 
              class="planner-action {% if each in in_garden_future %}btn-gray{% else %}btn-white{% endif %} btn-sm"
            >
                <i class="fa fa-calendar-plus mr-1"></i>
              {{ _("I want this in my garden") }}
            </button>
          </div>
        </div>
      {% endif %}
    </div>

    <ul role="list" class="mt-5 grid gap-x-4 gap-y-8 sm:gap-x-6 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 xl:gap-x-8 mb-10">
      {% for photo in each.photos.all|slice:":3" %}
        <li class="relative bg-white rounded-lg">
          <div class="group overflow-hidden rounded-lg bg-white focus-within:ring-2 focus-within:ring-sky-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="{{ photo.thumbnail }}" alt="" class="pointer-events-none w-full h-full object-cover group-hover:opacity-75" style="height:210px">
            <a class="absolute inset-0 focus:outline-hidden" href="{{ each.get_absolute_url }}?photo={{ photo.id }}" title="{{ _("Image credits") }}: {{ photo.author }}">
            </a>
          </div>
        </li>
      {% endfor %}
      <li class="relative rounded-lg">
        <div class="group overflow-hidden rounded-lg focus-within:ring-2 focus-within:ring-sky-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
          {% if each.flowering %}
            <div class="mb-2">
              <span class="text-gray-700 text-sm">
                {{ _("Flowering:") }}
              </span>
              <div>
                {% for month in each.flowering_months %}
                  <span class="badge-success">{{ month }}</span>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <div>
            {% for feature in each.features.all %}
              {% if feature.species_type == 6 %}
                {{ feature.get_icon }}
              {% endif %}
            {% endfor %}
          </div>

          <section class="features mt-2">
            {% for feature in each.features.all %}
              {% if feature.species_type == 3 %}
                {{ feature.get_text_icon }}
              {% endif %}
            {% endfor %}
          </section>

          <section class="features mt-2">
            {% for feature in each.features.all %}
              {% if feature.species_type == 1 %}
                {{ feature.get_icon }}
              {% endif %}
            {% endfor %}
          </section>

        </div>

      </li>
    </ul>
  {% endfor %}

</div>

{% if garden %}
  {% include "species/_js.ajaxbuttons.html" %}
{% endif %}
