<table class="table datatable species species_list" style="table-layout: fixed">
  <thead>
    <tr>
      <th style="width:250px">{{ _("Name") }}</th>

      {% if not table_hide_form %}
        <th>{{ _("Form") }}</th>
      {% endif %}

      <th>{{ _("Animals") }}</th>

      {% if not table_hide_aspects %}
        <th>{{ _("Aspect") }}</th>
      {% endif %}


      {% if not table_hide_habitats %}
        <th>{{ _("Habitats") }}</th>
      {% endif %}

      {% if table_show_score %}
        <th>{{ _("Species relevance") }}</th>
      {% endif %}

      {% if table_show_actions %}
        <th>{{ _("Actions") }}</th>
      {% endif %}

    </tr>
  </thead>
  <tbody>
  {% for each in species_list %}
    <tr class="species">
      <td data-sort="{{ each.name_en }} {{ each.name }}">
        <a href="{% url "species" each.id %}" class="name">
          {% if each.name_en %}{{ each.name_en }}{% else %}<em>{{ each.name }}</em>{% endif %}
        </a>
        {% if each.name_en %}
          <br>
          <em>{{ each.name }}</em>
        {% endif %}
      </td>

      {% if not table_hide_form %}
        <td class="text-sm text-gray-700">{{ each.plant_form|default_if_none:"" }}</td>
      {% endif %}

      <td>
        {% for feature in each.features.all %}
          {% if feature.species_type == 1 %}
            {{ feature.get_text_icon }}
          {% endif %}
        {% endfor %}
      </td>

      {% if not table_hide_aspects %}
        <td>
          {% for feature in each.features.all %}
            {% if feature.species_type == 6 %}
              {{ feature.get_icon }}
            {% endif %}
          {% endfor %}
        </td>
      {% endif %}

      {% if not table_hide_habitats %}
        <td>
          {% for feature in each.features.all %}
            {% if feature.species_type == 5 or feature.species_type == 9 %}
              {{ feature.get_text_icon }}
            {% endif %}
          {% endfor %}
        </td>
      {% endif %}

      {% if table_show_score %}
        <td>
          <div aria-hidden="true">
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div style="width: calc(({{ each.num_features }} + 1) / {{ max_features }} * 100%)" class="h-2 rounded-full bg-lime-600"></div>
            </div>
          </div>

          {% if garden %}
            <div class="mt-1">
              <button 
                data-species="{{ each.id }}" 
                data-action="PRESENT" 
                class="planner-action {% if each in in_garden_present %}btn-gray{% else %}btn-white{% endif %} btn-sm"
              >
                  <i class="fa fa-check-circle mr-1"></i>
                {{ _("I have this") }}
              </button>
              <button 
                data-species="{{ each.id }}" 
                data-action="FUTURE" 
                class="planner-action {% if each in in_garden_future %}btn-gray{% else %}btn-white{% endif %} btn-sm"
              >
                  <i class="fa fa-calendar-plus mr-1"></i>
                {{ _("I want this") }}
              </button>
            </div>
          {% endif %}

        </td>
      {% endif %}

      {% if table_show_actions %}
        <td data-sort="{{ each.num_features }}">
          <form method="post">
            <button type="submit" class="btn-danger px-2 py-1" name="delete" value="{{ each.id }}">
              {{ _("Delete") }}
            </button>
            {% csrf_token %}
          </form>
        </td>
      {% endif %}

    </tr>
  {% endfor %}
  </tbody>
</table>

{% if garden %}
  {% include "species/_js.ajaxbuttons.html" %}
{% endif %}
