{% extends "_base.html" %}

{% block pre_main %}
  {% include "species/_tabs.html" %}
{% endblock %}

{% block content %}

  {% if menu == "planner" %}
    <div class="flex justify-between">
      <div>
        {% with this_page=title %}
          {% include "planner/_breadcrumbs.html" %}
        {% endwith %}
      </div>
      <div class="text-center">
        <span class="text-black font-bold block text-5xl">{{ species_list.count }}</span>
        <span class="text-gray-700 text-sm">{{ _("species found") }}</span>
      </div>
    </div>
  {% endif %}

  {% if info %}
    <div class="grid grid-cols-5 gap-4 mb-4">
      <div class="{% if photo %}col-span-3{% else %}col-span-5{% endif %}">
        <h1>Species List - {{ info }}</h1>
        {{ info.get_content }}
      </div>
      {% if photo %}
        <div class="col-span-2">
          <img src="{{ photo.medium }}" alt="" class="w-full h-auto object-cover border border-gray-300 rounded-sm" />
        </div>
      {% endif %}
    </div>
  {% elif menu != "planner" %}
      <h1>
        {{ _("Search results") }}
      </h1>
  {% endif %}

  {% if features or plant_form and not info %}
    <div class="alert alert-warning relative">
      <h4>Filters</h4>
      <p>
        {% if features.count > 1 %}
        Showing species that match 
        {% if request.GET.search == "all" %}ALL{% else %}ANY{% endif %}
        of the following filters:
        {% else %}
          {{ _("Showing species that match the following filter:") }}
        {% endif %}
      </p>
      <ul class="mb-3 ml-4 mt-3">
      {% for each in features %}
        <li>
          <i class="fa fa-check"></i> {{ each }}
        </li>
      {% endfor %}
      {% if plant_form %}
        <li>
          <i class="fa fa-check"></i> {{ _("Plant form") }}: <strong>{{ plant_form }}</strong>
        </li>
      {% endif %}
      </ul>
      <a class="btn-blue btn-sm mr-2" href="{% url "species_search" %}{% querystring %}"><i class="fa fa-pencil mr-1"></i> {{ _("Edit search") }}</a> 

      {% if vegetation_type %}
        <p>{{ _("Vegetation type") }}: <a href="{{ vegetation_type.get_absolute_url }}">{{ vegetation_type }}</a></p>
      {% endif %}

      <p class="absolute top-2 right-2">
        {% if vegetation_type %}
          <a class="btn btn-secondary" href="{% url "vegetation_type_species" vegetation_type.slug %}">{{ _("New search") }}</a>
        {% else %}
          <a class="btn-orange btn-sm mr-2" href="{% url "species_search" %}"><i class="fa fa-search mr-1"></i> {{ _("New search") }}</a> 
          <a class="btn-orange btn-sm "href="{% url "species" %}"><i class="fa fa-seedling mr-1"></i> {{ _("Explore species") }}</a>
        {% endif %}
      </p>

      <div class="absolute bottom-2 right-2 text-center">
        <span class="text-black font-bold block text-5xl">{{ species_list.count }}</span>
        <span class="text-gray-700 text-sm">{{ _("species found") }}</span>
      </div>

    </div>

  {% endif %}

  {% include "species/_grid.html" %}

{% endblock %}
