{% load static %}
<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}{% block title %}{{ SITE }}{% endblock %}</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">
  {% if DEBUG %}
    <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>
  {% else %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  {% endif %}

  {% if load_form %}
  {% endif %}

  {% if load_datatables %}
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />
  {% endif %}

  {% if load_map %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />
  {% endif %}

  {% if load_leaflet_legend %}
    <link href="{% static 'css/leaflet.legend.css' %}" rel="stylesheet" />
  {% endif %}

  {% if request.GET.online_tailwind %}
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  {% else %}
    <link rel="stylesheet" href="{% static "css/output.css" %}?id=1304-2">
  {% endif %}
  <link rel="icon" href="{{ SITE.logo.thumbnail.url }}" type="image/png">

  {% if quill %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="{% static "js/quill.js" %}"></script>

    <style type="text/css">
    .ql-container {
      background-color: white !important;
      font-size:16px;
    }
    .ql-container h1,
    .ql-container h2 {
      margin-bottom:0.5em;
    }
    .ql-container p {
      margin-bottom:1em;
    }
    .show-code {
      float:right;
      position:relative;
      top:10px;
      right:19px;
    }
    </style>
  {% endif %}

  <script type="text/javascript">
  $(function(){
    $("textarea").each(function() {
      if (!$(this).hasClass("no-resize")) {
        var contentHeight = this.scrollHeight;

        if (contentHeight > 150) {
          var newHeight = contentHeight > window.innerHeight ? Math.min(contentHeight, window.innerHeight) : contentHeight;
          $(this).height(newHeight > 100 ? newHeight : 150);
        } else {
          $(this).height(150);
        }
      }
    });
  });
  </script>

  {% block css %}{% endblock %}
  {% block head %}{% endblock %}

</head>

<body class="h-full">

<div class="min-h-full">

{% if controlpanel %}
  {% include "_nav.controlpanel.html" %}
{% else %}
  {% with nav="_nav."|add:SITE.meta_data.nav|add:".html" %}
    {% include nav %}
  {% endwith %}
{% endif %}

  <main class="-mt-32">
    {% if not hide_main_container %}
      <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white px-5 py-6 shadow-sm sm:px-6">
    {% endif %}

        {% if messages %}
          {% for message in messages %}
            <div class="flex items-center p-4 mb-5 border {{ message.tags }}">
              {{ message|safe }}
            </div>
          {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}

    {% if not hide_main_container %}
      </div>
    </div>
    {% endif %}
  </main>

</div>

  {% with nav="_footer."|add:SITE.meta_data.nav|add:".html" %}
    {% include nav %}
  {% endwith %}

  {% if load_datatables %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script>
      $(".datatable").DataTable({
        "pageLength": 20,  // Set the default page length to 20
        "lengthMenu": [ [10, 20, 50, 100, -1], [10, 20, 50, 100, "{{ _("All") }}"] ]  // Show 20 or "Show All" option
      });
    </script>
  {% endif %}
  {% if load_map %}
    {% include "_leaflet.html" %}
  {% endif %}

  {% if load_leaflet_legend %}
    {% include "_leaflet.legend.html" %}
  {% endif %}

  {% if load_leaflet_item %}
    {% include "_leaflet.item.html" %}
  {% endif %}

{% block js %}
  
{% endblock %}

<script type="text/javascript">
$(function(){

  function closeNav() {
    $(".mainnav .fa-angle-up").removeClass("fa-angle-up text-sky-600").addClass("fa-angle-down text-gray-900");
    $(".mainnav a.hovermenu.text-sky-600").addClass("text-gray-900").removeClass("text-sky-600");
    $(".mainnav .dropdown").css({
      opacity: 0,
      transform: "translateY(-1rem)",
      visibility: "hidden",
    });
  }

  $(".mainnav a.hovermenu").click(function(e) {
    e.preventDefault();
    dropdown = $("#dropdown-" + $(this).data("target"));

    if (dropdown.css("opacity") === "1") {
      closeNav();
    } else {
      closeNav();
      $(this).removeClass("text-gray-900").addClass("text-sky-600");
      $(this).find(".fa").removeClass("fa-angle-down").addClass("fa-angle-up text-sky-600");
      $(dropdown).css({
        opacity: 1,
        transform: "translateY(0)",
        visibility: "visible",
      });
    }
  });

  $(document).click(function(event) {
    // If any dropdown is open and we click outside of it, then let's close it
    if ($(".dropdown").filter(function() {
      return $(this).css("opacity") === "1";
    }).length > 0) {
      if (!$(event.target).closest(".mainnav a").length) {
          closeNav();
      }
    }
  });

});
</script>

</body>
</html>
