<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-image@0.4.0/leaflet-image.js"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

<script>
  // create leaflet map - https://leafletjs.com/reference-1.6.0.html
  var map = L.map("map", {
    zoom: 12,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
    {% if lat and lng %}
      center: [{{ lat }}, {{ lng }}],
    {% else %}
      center: [{{ SITE.meta_data.lat }}, {{ SITE.meta_data.lng }}],
    {% endif %}
  });

  // add tile layer
  {% if mapstyle %}
    var tileLayer = L.tileLayer("{{ mapstyle.get_tilelayer|safe }}", {
      attribution: "{{ mapstyle.attribution|safe }}",
      id: "{{ mapstyle.style }}",
      tileSize: 512,
      zoomOffset: -1,
      // this "layer" option must be kept, as it prevents the tiles from disappearing when removing all other layers from the map
      layer: "tiles",
    })
  {% else %}
    var tileLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
      attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
      id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
      tileSize: 512,
      zoomOffset: -1,
      // this "layer" option must be kept, as it prevents the tiles from disappearing when removing all other layers from the map
      layer: "tiles",
    })
  {% endif %}

  tileLayer.addTo(map);

  {% if swapped_corridor_coords %}
    /* START OF CUTOUT SCRIPT */

    // This is the whole globe's bounds:
    const globeBounds = [
      [-90, -180],
      [-90, 180],
      [90, 180],
      [90, -180],
      [-90, -180]
    ];

    const polygonCoords = {{ swapped_corridor_coords }};
    const corridorCoords = {{ swapped_corridor_coords }};

    // Create a mask layer that will fill the map with a transparent black layer
    // and create a hole based on the polygon shape:  
    const mask = L.polygon([ // The outer rectangle
      ...globeBounds,
      ...polygonCoords.reverse() // The polygon as a hole
    ], {
      color: "black",
      fillColor: "black",
      fillOpacity: 0.25,
      stroke: false
    }).addTo(map);

    const polygon = L.polygon(polygonCoords, {
        stroke: false,
        fillOpacity: 0
    }).addTo(map);

    /* END OF CUTOUT SCRIPT */
  {% endif %}

  // function to convert canvas data to png and simulate click on download button
  function downloadImage(err, canvas) {
    var downloadLink = document.createElement("a");
    downloadLink.href = canvas.toDataURL("image/png");
    downloadLink.download = "map.png";
    downloadLink.click();
  }

  {% if not map_hide_save %}
    // define the download button's details
    L.Control.Download = L.Control.extend({
      onAdd: function(map) {
        var downloadButtonWrapper = L.DomUtil.create("div", "download-map-wrapper");
        var downloadButton = L.DomUtil.create("div", "download-map");
        downloadButton.innerHTML = "<i class='fas fa-fw fa-save'></i>";
        downloadButtonWrapper.appendChild(downloadButton);
        return downloadButtonWrapper;
      }
    });
  {% endif %}

  // create a new leaflet control and apply download button details
  L.control.Download = function(opts) {
    return new L.Control.Download(opts);
  }

  // add download button to the map
  L.control.Download({ position: "topleft" }).addTo(map);

  // run function when clicking the button
  $(".download-map").click(function() {
    leafletImage(map, downloadImage);
  })

  // toggle scrollwheel zoom when entering/exiting fullscreen
  map.on("fullscreenchange", function () {
    if (map.isFullscreen()) {
      map.scrollWheelZoom.enable()
    } else {
      map.scrollWheelZoom.disable()
    }
  });
</script>
