
  <div id="dropdown-planner" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Planner Dashboard</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "planner" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "dashboard" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-home fa-fw text-lg text-gray-400 mr-1"></i>
                Homepage
              </a>
              <a href="{% url "planner_location" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "location" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-map fa-fw text-lg text-gray-400 mr-1"></i>
                My location
              </a>
              <a href="{% url "planner_site" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "site" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-cog fa-fw text-lg text-gray-400 mr-1"></i>
                My site features
              </a>
              <a href="{% url "planner_target_species" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "target" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-crow fa-fw text-lg text-gray-400 mr-1"></i>
                My target animals
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Start your garden</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              <a href="{% url "planner_suggestions" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "suggestions" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Suggested plants
              </a>
              <a href="{% url "planner_plants" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "plants" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-clipboard-list-check fa-fw text-lg text-gray-400 mr-1"></i>
                Plants overview
              </a>
              <a href="{% url "planner_calendar" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "calendar" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-calendar-alt fa-fw text-lg text-gray-400 mr-1"></i>
                Garden calendar
              </a>
              <a href="{% url "planner_nurseries" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "nurseries" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-hand-holding-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Plant nurseries
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <h3 class="text-sm/6 font-medium text-gray-500">Improve your garden</h3>
          <div class="flow-root">
            <div class="-my-2">
              <a href="{% url "planner_plants_present_list" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "PRESENT" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-tree-alt fa-fw text-lg text-gray-400 mr-1"></i>
                Current plants
              </a>
              <a href="{% url "planner_plants_future_list" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "FUTURE" and menu == "planner" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-seedling fa-fw text-lg text-gray-400 mr-1"></i>
                Future plants
              </a>
              <a href="{% url "planner_score" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "score" and status == "PRESENT" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-chart-bar fa-fw text-lg text-gray-400 mr-1"></i>
                Current garden score card
              </a>
              <a href="{% url "planner_score_future" GARDEN %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "score" and status == "FUTURE" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-chart-bar fa-fw text-lg text-gray-400 mr-1"></i>
                Future garden score card
              </a>
            </div>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <h3 class="text-sm/6 font-medium text-gray-500">Advanced tools</h3>
          <div class="flow-root">
            <div class="-my-2">
              <a href="/resources/teaching/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "teaching" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-home fa-fw text-lg text-gray-400 mr-1"></i>
                Ecological needs assessment
              </a>
              <a href="/resources/general/" class="flex gap-x-4 py-2 text-sm/6 font-semibold hover:text-sky-600
                {% if page == "general" and menu == "resources" %}text-sky-600{% else %}text-gray-900{% endif %}">
                <i class="fa fa-map fa-fw text-lg text-gray-400 mr-1"></i>
                Social needs assessment
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-500">
                <i class="fa fa-download fa-fw text-lg text-gray-400 mr-1"></i>
                Garden design
              </a>
              <a href="#" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-500">
                <i class="fa fa-download fa-fw text-lg text-gray-400 mr-1"></i>
                Certification
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="dropdown-account" class="dropdown absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-6 py-10 lg:grid-cols-2 lg:px-8">
      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
        <div>
          <h3 class="text-sm/6 font-medium text-gray-500">Your account</h3>
          <div class="mt-6 flow-root">
            <div class="-my-2">
              {% if request.user.is_authenticated %}
                <a href="{% url "account" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
                {% if menu == "account" and page == "account" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                  <i class="fa fa-user fa-fw text-lg text-gray-400 mr-1"></i>
                  Manage my account
                </a>
                <a href="{% url "account_gardens" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold 
                {% if menu == "account" and page == "gardens" %}text-sky-600{% else %}text-gray-900{% endif %} hover:text-sky-600">
                  <i class="fa fa-list fa-fw text-lg text-gray-400 mr-1"></i>
                  My gardens
                </a>
                <a href="{% url "logout" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                  <i class="fa fa-sign-out fa-fw text-lg text-gray-400 mr-1"></i>
                  Log out
                </a>
              {% else %}
                <a href="{% url "create_account" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                  <i class="fa fa-user fa-fw text-lg text-gray-400 mr-1"></i>
                  Create account
                </a>
                <a href="{% url "login" %}" class="flex gap-x-4 py-2 text-sm/6 font-semibold text-gray-900 hover:text-sky-600">
                  <i class="fa fa-sign-in fa-fw text-lg text-gray-400 mr-1"></i>
                  Log in
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-10 sm:gap-8 lg:grid-cols-2">
        <h3 class="sr-only">Recent posts</h3>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="/media/temp.introvideo.jpg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 text-center rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">
              Online tool
            </span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/page/introduction-video/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                Introduction video
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              Check out this 5-minute video about the Fynbos Corridor Collaboration!
            </p>
          </div>
        </article>
        <article class="relative isolate flex max-w-2xl flex-col gap-x-8 gap-y-6 sm:flex-row sm:items-start lg:flex-col lg:items-stretch">
          <div class="relative flex-none">
            <img class="aspect-2/1 w-full rounded-lg bg-gray-100 object-cover sm:aspect-video sm:h-32 lg:h-auto" src="https://inaturalist-open-data.s3.amazonaws.com/photos/161477582/large.jpeg" alt="">
            <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <span class="float-right relative z-10 rounded-full bg-gray-100 px-3 py-1.5 text-xs font-medium text-gray-600 hover:bg-gray-200">Monthly highlight</span>
            <h4 class="mt-2 text-sm/6 font-semibold text-gray-900">
              <a href="/species/11877/" class="hover:text-sky-600">
                <span class="absolute inset-0"></span>
                <em>
                Ferraria crispa
                </em>
              </a>
            </h4>
            <p class="mt-2 text-sm/6 text-gray-600">
              A stunning flower from the Iridaceae family - good for insects and a stunning sight.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
