<table class="table datatable">
  <thead>
    <tr>
      <th style="width:250px">{{ _("Scientific name") }}</th>
      <th style="width:200px">{{ _("Common name") }}</th>
      <th>{{ _("Features") }}</th>
      <th>{{ _("Vegetation type(s)") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for each in species_list %}
    <tr>
      <td><a href="{% url "species" each.id %}">{{ each.name }}</a></td>
      <td>
        {{ each.name_en }}
      </td>
      <td>
        <ul>
        {% for feature in each.features.all %}
          <li>{{ feature }}</li>
        {% endfor %}
        </ul>
      </td>
      <td>
        {% for veg in each.vegetation_types.all %}
          <span class="badge bg-success">{{ veg }}</span>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
