{% extends "_base.html" %}

{% block content %}

<div class="bg-white px-6 py-32 lg:px-8 dark:bg-gray-900">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-300">
    <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400">
      <a href="{% url "blogs" %}">{{ _("Blogs") }}</a>
    </p>
    <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white">
      {% block title %}
        {{ info }}
      {% endblock %}
    </h1>

      <figure class="mt-10 ">
        <img src="{{ info.photo.medium }}" alt="" class="aspect-video rounded-xl bg-gray-50 object-cover dark:bg-gray-800" />
        <figcaption class="mt-6 flex gap-x-4">
          <div class="text-sm/6">
            {{ info.photo.credit }}
          </div>
        </figcaption>
      </figure>
    
    <div class="mt-6 text-xl/8">
      {{ info.get_content }}
    </div>
  </div>
</div>

{% endblock %}
