{% extends "_base.html" %}

{% block content %}
<div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">

  <h1 class="text-white">{{ title }}</h1>

  <ul role="list" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 xl:gap-x-8">

    {% for each in documents %}
      <li class="relative bg-white rounded-xl h-auto shadow-sm">
        <div class="m-5">
          <h2 class="mt-2 block font-medium text-gray-900">
            {{ each }}
          </h3>

          {% if each.author %}
            <span class="badge">
              {{ each.author }}
            </span>
          {% endif %}

          <p class="text-gray-500 mt-4" id="description-{{ each.id }}">
            {% if each.description|length > 400 %}
              <span class="truncated">{{ each.description|truncatewords:70 }}</span>
              <span class="hidden full-text" aria-hidden="true">{{ each.description }}</span>
              <a href="#" class="text-blue-500 read-more" aria-expanded="false" aria-controls="full-text-{{ each.id }}">{{ _("read more") }}</a>
            {% else %}
              {{ each.description }}
            {% endif %}
          </p>

          {% if each.attachments.all %}
            <a href="{{ each.attachments.all.0.file.url }}" class="btn-blue mt-4">
              <i class="fa fa-download"></i>
              {{ _("Download") }}
            </a>
          {% endif %}

          {% if each.url %}
            <a href="{{ each.url }}" class="btn-blue mt-4">
              <i class="fa fa-link"></i>
              {{ _("Visit website") }}
            </a>
          {% endif %}

        </div>
      </li>
    {% endfor %}

  </ul>

</div>

{% endblock %}

{% block js %}
  <script type="text/javascript">
  $(function(){
    $(document).on("click", ".read-more", function(e) {
      e.preventDefault();
      const $this = $(this);
      const $parent = $this.closest("p");
      $parent.find(".truncated").addClass("hidden");
      $parent.find(".full-text").removeClass("hidden").attr("aria-hidden", "false");
      $this.hide();
    });
  });
  </script>
{% endblock %}
