{% extends "_base.html" %}

{% block head %}
  <style type="text/css">
  main p{margin-bottom:1em}
  </style>
{% endblock %}

{% block content %}

{% if info.meta_data.design == "multicol" %}

  <div class="flex gap-15">
    <div class="flex-4">

      {% if not info.meta_data.hide_title %}
        <h1>{{ info }}</h1>
      {% endif %}

      {{ info.get_content }}

      {% if info.meta_data.next %}
        <div class="mt-10">
          <a class="btn-blue" href="{{ info.meta_data.next_link }}">{{ info.meta_data.next }} &raquo;</a>
        </div>
      {% endif %}

    </div>
    <div class="flex-2">

      {% for photo in info.photos.all %}
        {% include "_photo.html" %}
      {% endfor %}
      
    </div>
  </div>

{% else %}

  {% if not info.meta_data.hide_title %}
    <h1>{{ info }}</h1>
  {% endif %}

  {{ info.get_content }}

  {% if info.meta_data.next %}
    <div class="mt-10">
      <a href="btn-blue" href="{{ info.meta_data.next_link }}">{{ info.meta_data.next }}</a>
    </div>
  {% endif %}


{% endif %}

{% if request.user.is_staff %}
  <a class="btn-warning btn-edit" href="{% url "controlpanel_page" info.id %}?redirect={{ request.get_full_path }}">
    <i class="fa fa-pencil"></i>
  </a>
{% endif %}

{% endblock %}
