{% extends "_base.html" %}

{% block content %}

<h1>{% block title %}Species{% endblock %}</h1>
{% if vegetation_type %}
  <h2>
    {{ vegetation_type }}
  </h2>
  <div class="alert alert-warning">
    There are <strong>{{ all }}</strong> species found in this vegetation type.
    Use the filters below to locate the species of your interest.
    <br>
    <br>
    <a href="{% url "species_full_list" %}{{ veg_link }}">View all {{ all }} species</a><br>
    <a href="{% url "species" %}">Back to main species list</a>
  </div>
{% endif %}

{% with species_list=samples %}
  {% include "_species.list.html" %}
{% endwith %}

<div class="bg-gray-100 p-5 mt-10">
  <h2>{{ _("Search species list") }}</h2>
  <form action="{% url "species_search" %}">
    {% if vegetation_type %}
      <input type="hidden" name="vegetation_type" value="{{ vegetation_type.id }}" />
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

      {% for each in features %}

        <div class="flex gap-3">
          <div class="flex h-6 shrink-0 items-center">
            <div class="group grid size-4 grid-cols-1">
              <input id="feature_{{ each.id }}" aria-describedby="comments-description" name="feature" type="checkbox" value="{{ each.id }}" class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-sky-800 checked:bg-sky-800 indeterminate:border-sky-800 indeterminate:bg-sky-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-800 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto">
              <svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
                <path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="text-sm/6">
            <label for="feature_{{ each.id }}" class="font-medium text-gray-900 cursor-pointer hover:text-sky-800">{{ each }}</label>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="mt-4 flex gap-2">
      <select name="search" class="w-5/6">
        <option value="all">Match ALL of these properties</option>
        <option value="any">Match ANY one of these properties</option>
      </select>
      <button type="submit" class="btn-blue bg-gray-600 w-1/6"><i class="fa fa-search fa-fw"></i> Search</button>
    </div>

  </form>

</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-10">
  <div>
    <h2>Browse by genus</h2>
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Genus</th>
          <th>Species</th>
        </tr>
      </thead>
      <tbody>
      {% for each in genus %}
        <tr>
          <td><a href="{% url "genus" each.id %}{{ veg_link }}">{{ each }}</a></td>
          <td>{{ each.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <h2>Browse by family</h2>
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Family</th>
          <th>Species</th>
        </tr>
      </thead>
      <tbody>
      {% for each in family %}
        <tr>
          <td><a href="/species/family/{{ each.id }}/{{ veg_link }}">{{ each }}</a></td>
          <td>{{ each.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if vegetation_types.count > 1 %}
  <div>
    <h2>Browse by vegetation type</h2>
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Vegetation type</th>
          <th>Species</th>
        </tr>
      </thead>
      <tbody>
      {% for each in vegetation_types %}
        <tr {% if each == vegetation_type %}class="bg-primary text-light"{% endif %}>
          <td><a href="{% url "vegetation_type_species" each.slug %}">{{ each }}</a></td>
          <td>{{ each.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% endblock %}
