{% extends "_base.html" %}

{% block title %}Species list{% endblock %}

{% block content %}

  {% if info %}
    <div class="grid grid-cols-5 gap-4 mb-4">
      <div class="{% if photo %}col-span-3{% else %}col-span-5{% endif %}">
        <h1>Species List - {{ info }}</h1>
        {{ info.get_content }}
      </div>
      {% if photo %}
        <div class="col-span-2">
          <img src="{{ photo.medium }}" alt="" class="w-full h-auto object-cover border border-gray-300 rounded-sm" />
        </div>
      {% endif %}
    </div>
  {% else %}
    <h1>Species List</h1>
  {% endif %}

  <div class="alert alert-info">
    <i class="fa fa-info-circle fa-fw mr-3"></i>
    <span>
      <strong>{{ species_list.count }}</strong> species found
    </span>
  </div>

  {% if features and not info %}
    <div class="alert alert-warning">
      <h4>Filters</h4>
      <p>
        {% if features.count > 1 %}
        Showing species that match 
        {% if request.GET.search == "all" %}ALL{% else %}ANY{% endif %}
        of the following filters:
        {% else %}
          {{ _("Showing species that match the following filter:") }}
        {% endif %}
      </p>
      <ul class="mb-3 ml-4 mt-3">
      {% for each in features %}
        <li>
          <i class="fa fa-check"></i> {{ each }}
        </li>
      {% endfor %}
      </ul>

      {% if vegetation_type %}
        <p>Vegetation type: <a href="{{ vegetation_type.get_absolute_url }}">{{ vegetation_type }}</a></p>
      {% endif %}

      <p class="right">
        {% if vegetation_type %}
        <a class="btn btn-secondary" href="{% url "vegetation_type_species" vegetation_type.slug %}">New search</a>
        {% else %}
          <a href="{% url "species" %}">New search</a> | 
          <a href="{% url "species_full_list" %}">View all species</a>
        {% endif %}
      </p>
    </div>
  {% endif %}

  {% include "_species.grid.html" %}

{% endblock %}
