{% extends "_base.html" %}

{% block css %}
  <style type="text/css">
  #map{height:800px}
  </style>
{% endblock %}

{% block content %}

  <h1>{% block title %}{{ info }}{% endblock %}</h1>

  <div id="map" class="leaflet-map mb-4"></div>

  {{ info.get_content }}

  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Historical area (&#13218;)</th>
        <th>% in Cape Town</th>
        <th>Current area in Cape Town (&#13218;)</th>
        <th>Conserved or managed in Cape Town (&#13218;)</th>
        <th>National Ecosystem Status</th>
      </tr>
    </thead>
    <tbody>
    {% for each in all %}
      <tr>
        <td><a href="{% url "vegetation_type" each.slug %}">{{ each }}</a></td>
        <td>{{ each.meta_data.historical_cover }}</td>
        <td>{{ each.meta_data.cape_town_cover }}</td>
        <td>{{ each.meta_data.current_cape_town_area }}</td>
        <td>{{ each.meta_data.conserved_cape_town }}</td>
        <td>{{ each.redlist.get_code }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
